.ffb-id-8e9iihuc .ffb-id-8e9ij8vv {
	margin-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij8vv {
		margin-bottom: 64px;
	}
}
.ffb-id-8e9ij4se {
	padding-top: 32px;
	padding-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4se {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 {
	padding-right: 50px;
	padding-left: 50px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 {
		padding-right: 0px;
		padding-left: 0px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8 {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8:focus, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8 *, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8 *:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8 *:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8 *:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v8 *:focus {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5 {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5:focus, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5 *, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5 *:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5 *:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5 *:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v5 *:focus {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2 {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2:focus, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2 *, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2 *:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2 *:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2 *:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8v2 *:focus {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv:focus, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv *, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv *:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv *:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv *:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8uv *:focus {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us:focus, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us *, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us *:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us *:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us *:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8us *:focus {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up:focus, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up *, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up *:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up *:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up *:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8up *:focus {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um:focus, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um *, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um *:before, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um *:after, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um *:hover, .ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8sk .ffb-id-8e9ij8u0 .ffb-id-8e9ij8um *:focus {
	text-align: center !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8n9 .ffb-id-8e9ij8pv .ffb-id-8e9ij8sd {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8e9ij8sd {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8e9ij8sh {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	min-height: 96px;
	width: 176px;
	padding: 0 6px;
}
@media (max-width:767px) {
	.ffb-id-8e9ij8sh {
		min-height: 60px;
		width: 110px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8n9 .ffb-id-8e9ij8pv .ffb-id-8e9ij8s6 {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8e9ij8s6 {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8e9ij8sa {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	min-height: 96px;
	width: 176px;
	padding: 0 6px;
}
@media (max-width:767px) {
	.ffb-id-8e9ij8sa {
		min-height: 60px;
		width: 110px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8n9 .ffb-id-8e9ij8pv .ffb-id-8e9ij8rv {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8e9ij8rv {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8e9ij8s3 {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	min-height: 96px;
	width: 176px;
	padding: 0 6px;
}
@media (max-width:767px) {
	.ffb-id-8e9ij8s3 {
		min-height: 60px;
		width: 110px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8n9 .ffb-id-8e9ij8pv .ffb-id-8e9ij8ro {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8e9ij8ro {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8e9ij8rs {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	min-height: 96px;
	width: 176px;
	padding: 0 6px;
}
@media (max-width:767px) {
	.ffb-id-8e9ij8rs {
		min-height: 60px;
		width: 110px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8n9 .ffb-id-8e9ij8pv .ffb-id-8e9ij8rh {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8e9ij8rh {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8e9ij8rl {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	min-height: 96px;
	width: 176px;
	padding: 0 6px;
}
@media (max-width:767px) {
	.ffb-id-8e9ij8rl {
		min-height: 60px;
		width: 110px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f6 .ffb-id-8e9ij8n9 .ffb-id-8e9ij8pv .ffb-id-8e9ij8ra {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8e9ij8ra {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8e9ij8re {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	min-height: 96px;
	width: 176px;
	padding: 0 6px;
}
@media (max-width:767px) {
	.ffb-id-8e9ij8re {
		min-height: 60px;
		width: 110px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij7uo .ffb-id-8e9ij8f3 {
	margin-bottom: 30px;
}
.ffb-id-8e9ij7un {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij7un {
		margin-bottom: 16px;
	}
}
.ffb-id-8e9ij7un {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9ij7un, .ffb-id-8e9ij7un:before, .ffb-id-8e9ij7un:after, .ffb-id-8e9ij7un:hover, .ffb-id-8e9ij7un:focus, .ffb-id-8e9ij7un *, .ffb-id-8e9ij7un *:before, .ffb-id-8e9ij7un *:after, .ffb-id-8e9ij7un *:hover, .ffb-id-8e9ij7un *:focus {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9ij7um {
	margin-bottom: 4px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij7um {
		margin-bottom: 8px;
	}
}
.ffb-id-8e9ij0nj {
	padding-top: 32px;
	padding-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0nj {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}
.ffb-id-8e9ij4bt {
	margin-left: -8px;
	margin-right: -8px;
}
.ffb-id-8e9ij4bt>.fg-col {
	padding-left: 8px;
	padding-right: 8px;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4s1 .ffb-id-8e9ij4sb {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4s1 .ffb-id-8e9ij4sb {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4sd {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4sd, .ffb-id-8e9ij4sd:before, .ffb-id-8e9ij4sd:after, .ffb-id-8e9ij4sd *, .ffb-id-8e9ij4sd *:before, .ffb-id-8e9ij4sd *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4sd {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4sd, .ffb-id-8e9ij4sd:before, .ffb-id-8e9ij4sd:after, .ffb-id-8e9ij4sd:hover, .ffb-id-8e9ij4sd:focus, .ffb-id-8e9ij4sd *, .ffb-id-8e9ij4sd *:before, .ffb-id-8e9ij4sd *:after, .ffb-id-8e9ij4sd *:hover, .ffb-id-8e9ij4sd *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4sd {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4sd, .ffb-id-8e9ij4sd:before, .ffb-id-8e9ij4sd:after, .ffb-id-8e9ij4sd:hover, .ffb-id-8e9ij4sd:focus, .ffb-id-8e9ij4sd *, .ffb-id-8e9ij4sd *:before, .ffb-id-8e9ij4sd *:after, .ffb-id-8e9ij4sd *:hover, .ffb-id-8e9ij4sd *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4rk .ffb-id-8e9ij4ru {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4rk .ffb-id-8e9ij4ru {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4s0 {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4s0, .ffb-id-8e9ij4s0:before, .ffb-id-8e9ij4s0:after, .ffb-id-8e9ij4s0 *, .ffb-id-8e9ij4s0 *:before, .ffb-id-8e9ij4s0 *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4s0 {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4s0, .ffb-id-8e9ij4s0:before, .ffb-id-8e9ij4s0:after, .ffb-id-8e9ij4s0:hover, .ffb-id-8e9ij4s0:focus, .ffb-id-8e9ij4s0 *, .ffb-id-8e9ij4s0 *:before, .ffb-id-8e9ij4s0 *:after, .ffb-id-8e9ij4s0 *:hover, .ffb-id-8e9ij4s0 *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4s0 {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4s0, .ffb-id-8e9ij4s0:before, .ffb-id-8e9ij4s0:after, .ffb-id-8e9ij4s0:hover, .ffb-id-8e9ij4s0:focus, .ffb-id-8e9ij4s0 *, .ffb-id-8e9ij4s0 *:before, .ffb-id-8e9ij4s0 *:after, .ffb-id-8e9ij4s0 *:hover, .ffb-id-8e9ij4s0 *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4qc .ffb-id-8e9ij4qm {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4qc .ffb-id-8e9ij4qm {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4qo {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4qo, .ffb-id-8e9ij4qo:before, .ffb-id-8e9ij4qo:after, .ffb-id-8e9ij4qo *, .ffb-id-8e9ij4qo *:before, .ffb-id-8e9ij4qo *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4qo {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4qo, .ffb-id-8e9ij4qo:before, .ffb-id-8e9ij4qo:after, .ffb-id-8e9ij4qo:hover, .ffb-id-8e9ij4qo:focus, .ffb-id-8e9ij4qo *, .ffb-id-8e9ij4qo *:before, .ffb-id-8e9ij4qo *:after, .ffb-id-8e9ij4qo *:hover, .ffb-id-8e9ij4qo *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4qo {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4qo, .ffb-id-8e9ij4qo:before, .ffb-id-8e9ij4qo:after, .ffb-id-8e9ij4qo:hover, .ffb-id-8e9ij4qo:focus, .ffb-id-8e9ij4qo *, .ffb-id-8e9ij4qo *:before, .ffb-id-8e9ij4qo *:after, .ffb-id-8e9ij4qo *:hover, .ffb-id-8e9ij4qo *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4ph .ffb-id-8e9ij4pr {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4ph .ffb-id-8e9ij4pr {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4pt {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4pt, .ffb-id-8e9ij4pt:before, .ffb-id-8e9ij4pt:after, .ffb-id-8e9ij4pt *, .ffb-id-8e9ij4pt *:before, .ffb-id-8e9ij4pt *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4pt {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4pt, .ffb-id-8e9ij4pt:before, .ffb-id-8e9ij4pt:after, .ffb-id-8e9ij4pt:hover, .ffb-id-8e9ij4pt:focus, .ffb-id-8e9ij4pt *, .ffb-id-8e9ij4pt *:before, .ffb-id-8e9ij4pt *:after, .ffb-id-8e9ij4pt *:hover, .ffb-id-8e9ij4pt *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4pt {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4pt, .ffb-id-8e9ij4pt:before, .ffb-id-8e9ij4pt:after, .ffb-id-8e9ij4pt:hover, .ffb-id-8e9ij4pt:focus, .ffb-id-8e9ij4pt *, .ffb-id-8e9ij4pt *:before, .ffb-id-8e9ij4pt *:after, .ffb-id-8e9ij4pt *:hover, .ffb-id-8e9ij4pt *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4p4 .ffb-id-8e9ij4pe {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4p4 .ffb-id-8e9ij4pe {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4pg {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4pg, .ffb-id-8e9ij4pg:before, .ffb-id-8e9ij4pg:after, .ffb-id-8e9ij4pg *, .ffb-id-8e9ij4pg *:before, .ffb-id-8e9ij4pg *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4pg {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4pg, .ffb-id-8e9ij4pg:before, .ffb-id-8e9ij4pg:after, .ffb-id-8e9ij4pg:hover, .ffb-id-8e9ij4pg:focus, .ffb-id-8e9ij4pg *, .ffb-id-8e9ij4pg *:before, .ffb-id-8e9ij4pg *:after, .ffb-id-8e9ij4pg *:hover, .ffb-id-8e9ij4pg *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4pg {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4pg, .ffb-id-8e9ij4pg:before, .ffb-id-8e9ij4pg:after, .ffb-id-8e9ij4pg:hover, .ffb-id-8e9ij4pg:focus, .ffb-id-8e9ij4pg *, .ffb-id-8e9ij4pg *:before, .ffb-id-8e9ij4pg *:after, .ffb-id-8e9ij4pg *:hover, .ffb-id-8e9ij4pg *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4on .ffb-id-8e9ij4p1 {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4on .ffb-id-8e9ij4p1 {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4p3 {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4p3, .ffb-id-8e9ij4p3:before, .ffb-id-8e9ij4p3:after, .ffb-id-8e9ij4p3 *, .ffb-id-8e9ij4p3 *:before, .ffb-id-8e9ij4p3 *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4p3 {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4p3, .ffb-id-8e9ij4p3:before, .ffb-id-8e9ij4p3:after, .ffb-id-8e9ij4p3:hover, .ffb-id-8e9ij4p3:focus, .ffb-id-8e9ij4p3 *, .ffb-id-8e9ij4p3 *:before, .ffb-id-8e9ij4p3 *:after, .ffb-id-8e9ij4p3 *:hover, .ffb-id-8e9ij4p3 *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4p3 {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4p3, .ffb-id-8e9ij4p3:before, .ffb-id-8e9ij4p3:after, .ffb-id-8e9ij4p3:hover, .ffb-id-8e9ij4p3:focus, .ffb-id-8e9ij4p3 *, .ffb-id-8e9ij4p3 *:before, .ffb-id-8e9ij4p3 *:after, .ffb-id-8e9ij4p3 *:hover, .ffb-id-8e9ij4p3 *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4oa .ffb-id-8e9ij4ok {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4oa .ffb-id-8e9ij4ok {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4om {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4om, .ffb-id-8e9ij4om:before, .ffb-id-8e9ij4om:after, .ffb-id-8e9ij4om *, .ffb-id-8e9ij4om *:before, .ffb-id-8e9ij4om *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4om {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4om, .ffb-id-8e9ij4om:before, .ffb-id-8e9ij4om:after, .ffb-id-8e9ij4om:hover, .ffb-id-8e9ij4om:focus, .ffb-id-8e9ij4om *, .ffb-id-8e9ij4om *:before, .ffb-id-8e9ij4om *:after, .ffb-id-8e9ij4om *:hover, .ffb-id-8e9ij4om *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4om {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4om, .ffb-id-8e9ij4om:before, .ffb-id-8e9ij4om:after, .ffb-id-8e9ij4om:hover, .ffb-id-8e9ij4om:focus, .ffb-id-8e9ij4om *, .ffb-id-8e9ij4om *:before, .ffb-id-8e9ij4om *:after, .ffb-id-8e9ij4om *:hover, .ffb-id-8e9ij4om *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4m8 .ffb-id-8e9ij4mi {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4m8 .ffb-id-8e9ij4mi {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4mk {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4mk, .ffb-id-8e9ij4mk:before, .ffb-id-8e9ij4mk:after, .ffb-id-8e9ij4mk *, .ffb-id-8e9ij4mk *:before, .ffb-id-8e9ij4mk *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4mk {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4mk, .ffb-id-8e9ij4mk:before, .ffb-id-8e9ij4mk:after, .ffb-id-8e9ij4mk:hover, .ffb-id-8e9ij4mk:focus, .ffb-id-8e9ij4mk *, .ffb-id-8e9ij4mk *:before, .ffb-id-8e9ij4mk *:after, .ffb-id-8e9ij4mk *:hover, .ffb-id-8e9ij4mk *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4mk {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4mk, .ffb-id-8e9ij4mk:before, .ffb-id-8e9ij4mk:after, .ffb-id-8e9ij4mk:hover, .ffb-id-8e9ij4mk:focus, .ffb-id-8e9ij4mk *, .ffb-id-8e9ij4mk *:before, .ffb-id-8e9ij4mk *:after, .ffb-id-8e9ij4mk *:hover, .ffb-id-8e9ij4mk *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4lr .ffb-id-8e9ij4m5 {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4lr .ffb-id-8e9ij4m5 {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4m7 {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4m7, .ffb-id-8e9ij4m7:before, .ffb-id-8e9ij4m7:after, .ffb-id-8e9ij4m7 *, .ffb-id-8e9ij4m7 *:before, .ffb-id-8e9ij4m7 *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4m7 {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4m7, .ffb-id-8e9ij4m7:before, .ffb-id-8e9ij4m7:after, .ffb-id-8e9ij4m7:hover, .ffb-id-8e9ij4m7:focus, .ffb-id-8e9ij4m7 *, .ffb-id-8e9ij4m7 *:before, .ffb-id-8e9ij4m7 *:after, .ffb-id-8e9ij4m7 *:hover, .ffb-id-8e9ij4m7 *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4m7 {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4m7, .ffb-id-8e9ij4m7:before, .ffb-id-8e9ij4m7:after, .ffb-id-8e9ij4m7:hover, .ffb-id-8e9ij4m7:focus, .ffb-id-8e9ij4m7 *, .ffb-id-8e9ij4m7 *:before, .ffb-id-8e9ij4m7 *:after, .ffb-id-8e9ij4m7 *:hover, .ffb-id-8e9ij4m7 *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4le .ffb-id-8e9ij4lo {
	padding-top: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij3rb .ffb-id-8e9ij4le .ffb-id-8e9ij4lo {
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
	}
}
.ffb-id-8e9ij4lq {
	margin-bottom: 0px;
}
.ffb-id-8e9ij4lq, .ffb-id-8e9ij4lq:before, .ffb-id-8e9ij4lq:after, .ffb-id-8e9ij4lq *, .ffb-id-8e9ij4lq *:before, .ffb-id-8e9ij4lq *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij4lq {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8e9ij4lq, .ffb-id-8e9ij4lq:before, .ffb-id-8e9ij4lq:after, .ffb-id-8e9ij4lq:hover, .ffb-id-8e9ij4lq:focus, .ffb-id-8e9ij4lq *, .ffb-id-8e9ij4lq *:before, .ffb-id-8e9ij4lq *:after, .ffb-id-8e9ij4lq *:hover, .ffb-id-8e9ij4lq *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij4lq {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij4lq, .ffb-id-8e9ij4lq:before, .ffb-id-8e9ij4lq:after, .ffb-id-8e9ij4lq:hover, .ffb-id-8e9ij4lq:focus, .ffb-id-8e9ij4lq *, .ffb-id-8e9ij4lq *:before, .ffb-id-8e9ij4lq *:after, .ffb-id-8e9ij4lq *:hover, .ffb-id-8e9ij4lq *:focus {
		font-size: 18px !important;
	}
}
@media (min-width:1200px) {
	.ffb-id-8e9ij3ra {
		padding-right: 18%;
		padding-left: 18%;
	}
}
.ffb-id-8e9ij3r9 {
	margin-bottom: 12px;
}
.ffb-id-8e9ij3r9 {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9ij3r9, .ffb-id-8e9ij3r9:before, .ffb-id-8e9ij3r9:after, .ffb-id-8e9ij3r9:hover, .ffb-id-8e9ij3r9:focus, .ffb-id-8e9ij3r9 *, .ffb-id-8e9ij3r9 *:before, .ffb-id-8e9ij3r9 *:after, .ffb-id-8e9ij3r9 *:hover, .ffb-id-8e9ij3r9 *:focus {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9ij0lo {
	padding-top: 32px;
	padding-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0lo {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9ij0nd {
	margin-top: 24px;
}
.ffb-id-8e9ij0ng, .ffb-id-8e9ij0ng:before, .ffb-id-8e9ij0ng:after, .ffb-id-8e9ij0ng *, .ffb-id-8e9ij0ng *:before, .ffb-id-8e9ij0ng *:after {
	color: #ffffff !important;
}
.ffb-id-8e9iihuc .ffb-id-8e9ij0n5 {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9ij0n5 {
		margin-bottom: 32px;
	}
}
@media (max-width:767px) {
	.ffb-id-8e9ij0n5 {
		flex-direction: column;
	}
}
.ffb-id-8e9ij0n5 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ffb-id-8e9ij0n9 {
	margin-bottom: 0px;
}
.ffb-id-8e9ij0n9, .ffb-id-8e9ij0n9:before, .ffb-id-8e9ij0n9:after, .ffb-id-8e9ij0n9 *, .ffb-id-8e9ij0n9 *:before, .ffb-id-8e9ij0n9 *:after {
	color: #036ae5 !important;
}
.ffb-id-8e9ij0n9 {
	font-size: 14px !important;
	font-weight: 600 !important;
}
.ffb-id-8e9ij0n9, .ffb-id-8e9ij0n9:before, .ffb-id-8e9ij0n9:after, .ffb-id-8e9ij0n9:hover, .ffb-id-8e9ij0n9:focus, .ffb-id-8e9ij0n9 *, .ffb-id-8e9ij0n9 *:before, .ffb-id-8e9ij0n9 *:after, .ffb-id-8e9ij0n9 *:hover, .ffb-id-8e9ij0n9 *:focus {
	font-size: 14px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0n9 {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij0n9, .ffb-id-8e9ij0n9:before, .ffb-id-8e9ij0n9:after, .ffb-id-8e9ij0n9:hover, .ffb-id-8e9ij0n9:focus, .ffb-id-8e9ij0n9 *, .ffb-id-8e9ij0n9 *:before, .ffb-id-8e9ij0n9 *:after, .ffb-id-8e9ij0n9 *:hover, .ffb-id-8e9ij0n9 *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8e9ij0n9 {
	display: inline-flex;
	align-items: center;
	gap: 16px;
	white-space: nowrap;
}
@media (max-width:767px) {
	.ffb-id-8e9ij0n9 {
		gap: 8px;
	}
}
.ffb-id-8e9ij0n8 {
	margin-bottom: 12px;
	padding-right: 0px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0n8 {
		margin-bottom: 0px;
		padding-right: 30px;
	}
}
.ffb-id-8e9ij0n8, .ffb-id-8e9ij0n8:before, .ffb-id-8e9ij0n8:after, .ffb-id-8e9ij0n8 *, .ffb-id-8e9ij0n8 *:before, .ffb-id-8e9ij0n8 *:after {
	color: #ffffff !important;
}
.ffb-id-8e9ij0n8 {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9ij0n8, .ffb-id-8e9ij0n8:before, .ffb-id-8e9ij0n8:after, .ffb-id-8e9ij0n8:hover, .ffb-id-8e9ij0n8:focus, .ffb-id-8e9ij0n8 *, .ffb-id-8e9ij0n8 *:before, .ffb-id-8e9ij0n8 *:after, .ffb-id-8e9ij0n8 *:hover, .ffb-id-8e9ij0n8 *:focus {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9iinb1 {
	padding-top: 32px;
	padding-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8e9iinb1 {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 {
	padding-right: 30px;
	padding-left: 30px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 {
		padding-right: 138px;
		padding-left: 138px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0jk .ffb-id-8e9ij0km {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 32px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0jk .ffb-id-8e9ij0km {
		padding-top: 48px;
		padding-right: 48px;
		padding-bottom: 48px;
		padding-left: 48px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0jk .ffb-id-8e9ij0km {
	box-shadow: 0px 0px 8px 0px rgba(20, 19, 22, 0.08);
}
.ffb-id-8e9ij0km {
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 64px;
}
@media (max-width:1199px) {
	.ffb-id-8e9ij0km {
		display: flex;
		flex-direction: column-reverse;
		gap: 0;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0jk .ffb-id-8e9ij0km .ffb-id-8e9ij0lc {
	margin-bottom: 24px;
}
@media (min-width:1200px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0jk .ffb-id-8e9ij0km .ffb-id-8e9ij0lc {
		margin-bottom: 0px;
	}
}
.ffb-id-8e9ij0lm {
	position: absolute;
	left: -50px;
	bottom: 16px;
	z-index: 1;
	width: 100px;
}
@media (max-width:1199px) {
	.ffb-id-8e9ij0lm {
		left: auto;
		right: 12px;
		bottom: -24px;
		width: 70px;
	}
}
.ffb-id-8e9ij0lb {
	margin-bottom: 0px;
}
.ffb-id-8e9ij0lb {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8e9ij0lb, .ffb-id-8e9ij0lb:before, .ffb-id-8e9ij0lb:after, .ffb-id-8e9ij0lb:hover, .ffb-id-8e9ij0lb:focus, .ffb-id-8e9ij0lb *, .ffb-id-8e9ij0lb *:before, .ffb-id-8e9ij0lb *:after, .ffb-id-8e9ij0lb *:hover, .ffb-id-8e9ij0lb *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0lb {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij0lb, .ffb-id-8e9ij0lb:before, .ffb-id-8e9ij0lb:after, .ffb-id-8e9ij0lb:hover, .ffb-id-8e9ij0lb:focus, .ffb-id-8e9ij0lb *, .ffb-id-8e9ij0lb *:before, .ffb-id-8e9ij0lb *:after, .ffb-id-8e9ij0lb *:hover, .ffb-id-8e9ij0lb *:focus {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
.ffb-id-8e9ij0la {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0la {
		margin-bottom: 16px;
	}
}
.ffb-id-8e9ij0la, .ffb-id-8e9ij0la:before, .ffb-id-8e9ij0la:after, .ffb-id-8e9ij0la *, .ffb-id-8e9ij0la *:before, .ffb-id-8e9ij0la *:after {
	color: #036ae5 !important;
}
.ffb-id-8e9ij0la {
	text-transform: uppercase !important;
}
.ffb-id-8e9ij0la:before, .ffb-id-8e9ij0la:after, .ffb-id-8e9ij0la:hover, .ffb-id-8e9ij0la:focus, .ffb-id-8e9ij0la *, .ffb-id-8e9ij0la *:before, .ffb-id-8e9ij0la *:after, .ffb-id-8e9ij0la *:hover, .ffb-id-8e9ij0la *:focus {
	text-transform: uppercase !important;
}
.ffb-id-8e9ij0la {
	font-size: 16px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
.ffb-id-8e9ij0la, .ffb-id-8e9ij0la:before, .ffb-id-8e9ij0la:after, .ffb-id-8e9ij0la:hover, .ffb-id-8e9ij0la:focus, .ffb-id-8e9ij0la *, .ffb-id-8e9ij0la *:before, .ffb-id-8e9ij0la *:after, .ffb-id-8e9ij0la *:hover, .ffb-id-8e9ij0la *:focus {
	font-size: 16px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0la {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij0la, .ffb-id-8e9ij0la:before, .ffb-id-8e9ij0la:after, .ffb-id-8e9ij0la:hover, .ffb-id-8e9ij0la:focus, .ffb-id-8e9ij0la *, .ffb-id-8e9ij0la *:before, .ffb-id-8e9ij0la *:after, .ffb-id-8e9ij0la *:hover, .ffb-id-8e9ij0la *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0hh .ffb-id-8e9ij0ij {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 32px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0hh .ffb-id-8e9ij0ij {
		padding-top: 48px;
		padding-right: 48px;
		padding-bottom: 48px;
		padding-left: 48px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0hh .ffb-id-8e9ij0ij {
	box-shadow: 0px 0px 8px 0px rgba(20, 19, 22, 0.08);
}
.ffb-id-8e9ij0ij {
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 64px;
}
@media (max-width:1199px) {
	.ffb-id-8e9ij0ij {
		display: flex;
		flex-direction: column-reverse;
		gap: 0;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0hh .ffb-id-8e9ij0ij .ffb-id-8e9ij0j9 {
	margin-bottom: 24px;
}
@media (min-width:1200px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0hh .ffb-id-8e9ij0ij .ffb-id-8e9ij0j9 {
		margin-bottom: 0px;
	}
}
.ffb-id-8e9ij0jj {
	position: absolute;
	left: -50px;
	bottom: 16px;
	z-index: 1;
	width: 100px;
}
@media (max-width:1199px) {
	.ffb-id-8e9ij0jj {
		left: auto;
		right: 12px;
		bottom: -24px;
		width: 70px;
	}
}
.ffb-id-8e9ij0j8 {
	margin-bottom: 0px;
}
.ffb-id-8e9ij0j8 {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8e9ij0j8, .ffb-id-8e9ij0j8:before, .ffb-id-8e9ij0j8:after, .ffb-id-8e9ij0j8:hover, .ffb-id-8e9ij0j8:focus, .ffb-id-8e9ij0j8 *, .ffb-id-8e9ij0j8 *:before, .ffb-id-8e9ij0j8 *:after, .ffb-id-8e9ij0j8 *:hover, .ffb-id-8e9ij0j8 *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0j8 {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij0j8, .ffb-id-8e9ij0j8:before, .ffb-id-8e9ij0j8:after, .ffb-id-8e9ij0j8:hover, .ffb-id-8e9ij0j8:focus, .ffb-id-8e9ij0j8 *, .ffb-id-8e9ij0j8 *:before, .ffb-id-8e9ij0j8 *:after, .ffb-id-8e9ij0j8 *:hover, .ffb-id-8e9ij0j8 *:focus {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
.ffb-id-8e9ij0j7 {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0j7 {
		margin-bottom: 16px;
	}
}
.ffb-id-8e9ij0j7, .ffb-id-8e9ij0j7:before, .ffb-id-8e9ij0j7:after, .ffb-id-8e9ij0j7 *, .ffb-id-8e9ij0j7 *:before, .ffb-id-8e9ij0j7 *:after {
	color: #036ae5 !important;
}
.ffb-id-8e9ij0j7 {
	text-transform: uppercase !important;
}
.ffb-id-8e9ij0j7:before, .ffb-id-8e9ij0j7:after, .ffb-id-8e9ij0j7:hover, .ffb-id-8e9ij0j7:focus, .ffb-id-8e9ij0j7 *, .ffb-id-8e9ij0j7 *:before, .ffb-id-8e9ij0j7 *:after, .ffb-id-8e9ij0j7 *:hover, .ffb-id-8e9ij0j7 *:focus {
	text-transform: uppercase !important;
}
.ffb-id-8e9ij0j7 {
	font-size: 16px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
.ffb-id-8e9ij0j7, .ffb-id-8e9ij0j7:before, .ffb-id-8e9ij0j7:after, .ffb-id-8e9ij0j7:hover, .ffb-id-8e9ij0j7:focus, .ffb-id-8e9ij0j7 *, .ffb-id-8e9ij0j7 *:before, .ffb-id-8e9ij0j7 *:after, .ffb-id-8e9ij0j7 *:hover, .ffb-id-8e9ij0j7 *:focus {
	font-size: 16px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0j7 {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij0j7, .ffb-id-8e9ij0j7:before, .ffb-id-8e9ij0j7:after, .ffb-id-8e9ij0j7:hover, .ffb-id-8e9ij0j7:focus, .ffb-id-8e9ij0j7 *, .ffb-id-8e9ij0j7 *:before, .ffb-id-8e9ij0j7 *:after, .ffb-id-8e9ij0j7 *:hover, .ffb-id-8e9ij0j7 *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0fe .ffb-id-8e9ij0gg {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 32px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0fe .ffb-id-8e9ij0gg {
		padding-top: 48px;
		padding-right: 48px;
		padding-bottom: 48px;
		padding-left: 48px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0fe .ffb-id-8e9ij0gg {
	box-shadow: 0px 0px 8px 0px rgba(20, 19, 22, 0.08);
}
.ffb-id-8e9ij0gg {
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 64px;
}
@media (max-width:1199px) {
	.ffb-id-8e9ij0gg {
		display: flex;
		flex-direction: column-reverse;
		gap: 0;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0fe .ffb-id-8e9ij0gg .ffb-id-8e9ij0h6 {
	margin-bottom: 24px;
}
@media (min-width:1200px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0fe .ffb-id-8e9ij0gg .ffb-id-8e9ij0h6 {
		margin-bottom: 0px;
	}
}
.ffb-id-8e9ij0hg {
	position: absolute;
	left: -50px;
	bottom: 16px;
	z-index: 1;
	width: 100px;
}
@media (max-width:1199px) {
	.ffb-id-8e9ij0hg {
		left: auto;
		right: 12px;
		bottom: -24px;
		width: 70px;
	}
}
.ffb-id-8e9ij0h5 {
	margin-bottom: 0px;
}
.ffb-id-8e9ij0h5 {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8e9ij0h5, .ffb-id-8e9ij0h5:before, .ffb-id-8e9ij0h5:after, .ffb-id-8e9ij0h5:hover, .ffb-id-8e9ij0h5:focus, .ffb-id-8e9ij0h5 *, .ffb-id-8e9ij0h5 *:before, .ffb-id-8e9ij0h5 *:after, .ffb-id-8e9ij0h5 *:hover, .ffb-id-8e9ij0h5 *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0h5 {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij0h5, .ffb-id-8e9ij0h5:before, .ffb-id-8e9ij0h5:after, .ffb-id-8e9ij0h5:hover, .ffb-id-8e9ij0h5:focus, .ffb-id-8e9ij0h5 *, .ffb-id-8e9ij0h5 *:before, .ffb-id-8e9ij0h5 *:after, .ffb-id-8e9ij0h5 *:hover, .ffb-id-8e9ij0h5 *:focus {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
.ffb-id-8e9ij0h4 {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0h4 {
		margin-bottom: 16px;
	}
}
.ffb-id-8e9ij0h4, .ffb-id-8e9ij0h4:before, .ffb-id-8e9ij0h4:after, .ffb-id-8e9ij0h4 *, .ffb-id-8e9ij0h4 *:before, .ffb-id-8e9ij0h4 *:after {
	color: #036ae5 !important;
}
.ffb-id-8e9ij0h4 {
	text-transform: uppercase !important;
}
.ffb-id-8e9ij0h4:before, .ffb-id-8e9ij0h4:after, .ffb-id-8e9ij0h4:hover, .ffb-id-8e9ij0h4:focus, .ffb-id-8e9ij0h4 *, .ffb-id-8e9ij0h4 *:before, .ffb-id-8e9ij0h4 *:after, .ffb-id-8e9ij0h4 *:hover, .ffb-id-8e9ij0h4 *:focus {
	text-transform: uppercase !important;
}
.ffb-id-8e9ij0h4 {
	font-size: 16px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
.ffb-id-8e9ij0h4, .ffb-id-8e9ij0h4:before, .ffb-id-8e9ij0h4:after, .ffb-id-8e9ij0h4:hover, .ffb-id-8e9ij0h4:focus, .ffb-id-8e9ij0h4 *, .ffb-id-8e9ij0h4 *:before, .ffb-id-8e9ij0h4 *:after, .ffb-id-8e9ij0h4 *:hover, .ffb-id-8e9ij0h4 *:focus {
	font-size: 16px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0h4 {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij0h4, .ffb-id-8e9ij0h4:before, .ffb-id-8e9ij0h4:after, .ffb-id-8e9ij0h4:hover, .ffb-id-8e9ij0h4:focus, .ffb-id-8e9ij0h4 *, .ffb-id-8e9ij0h4 *:before, .ffb-id-8e9ij0h4 *:after, .ffb-id-8e9ij0h4 *:hover, .ffb-id-8e9ij0h4 *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0db .ffb-id-8e9ij0ed {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 32px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0db .ffb-id-8e9ij0ed {
		padding-top: 48px;
		padding-right: 48px;
		padding-bottom: 48px;
		padding-left: 48px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0db .ffb-id-8e9ij0ed {
	box-shadow: 0px 0px 8px 0px rgba(20, 19, 22, 0.08);
}
.ffb-id-8e9ij0ed {
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 64px;
}
@media (max-width:1199px) {
	.ffb-id-8e9ij0ed {
		display: flex;
		flex-direction: column-reverse;
		gap: 0;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0db .ffb-id-8e9ij0ed .ffb-id-8e9ij0f3 {
	margin-bottom: 24px;
}
@media (min-width:1200px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivk4 .ffb-id-8e9ij04u .ffb-id-8e9ij0db .ffb-id-8e9ij0ed .ffb-id-8e9ij0f3 {
		margin-bottom: 0px;
	}
}
.ffb-id-8e9ij0fd {
	position: absolute;
	left: -50px;
	bottom: 16px;
	z-index: 1;
	width: 100px;
}
@media (max-width:1199px) {
	.ffb-id-8e9ij0fd {
		left: auto;
		right: 12px;
		bottom: -24px;
		width: 70px;
	}
}
.ffb-id-8e9ij0f2 {
	margin-bottom: 0px;
}
.ffb-id-8e9ij0f2 {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8e9ij0f2, .ffb-id-8e9ij0f2:before, .ffb-id-8e9ij0f2:after, .ffb-id-8e9ij0f2:hover, .ffb-id-8e9ij0f2:focus, .ffb-id-8e9ij0f2 *, .ffb-id-8e9ij0f2 *:before, .ffb-id-8e9ij0f2 *:after, .ffb-id-8e9ij0f2 *:hover, .ffb-id-8e9ij0f2 *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0f2 {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij0f2, .ffb-id-8e9ij0f2:before, .ffb-id-8e9ij0f2:after, .ffb-id-8e9ij0f2:hover, .ffb-id-8e9ij0f2:focus, .ffb-id-8e9ij0f2 *, .ffb-id-8e9ij0f2 *:before, .ffb-id-8e9ij0f2 *:after, .ffb-id-8e9ij0f2 *:hover, .ffb-id-8e9ij0f2 *:focus {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
.ffb-id-8e9ij0f1 {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0f1 {
		margin-bottom: 16px;
	}
}
.ffb-id-8e9ij0f1, .ffb-id-8e9ij0f1:before, .ffb-id-8e9ij0f1:after, .ffb-id-8e9ij0f1 *, .ffb-id-8e9ij0f1 *:before, .ffb-id-8e9ij0f1 *:after {
	color: #036ae5 !important;
}
.ffb-id-8e9ij0f1 {
	text-transform: uppercase !important;
}
.ffb-id-8e9ij0f1:before, .ffb-id-8e9ij0f1:after, .ffb-id-8e9ij0f1:hover, .ffb-id-8e9ij0f1:focus, .ffb-id-8e9ij0f1 *, .ffb-id-8e9ij0f1 *:before, .ffb-id-8e9ij0f1 *:after, .ffb-id-8e9ij0f1 *:hover, .ffb-id-8e9ij0f1 *:focus {
	text-transform: uppercase !important;
}
.ffb-id-8e9ij0f1 {
	font-size: 16px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
.ffb-id-8e9ij0f1, .ffb-id-8e9ij0f1:before, .ffb-id-8e9ij0f1:after, .ffb-id-8e9ij0f1:hover, .ffb-id-8e9ij0f1:focus, .ffb-id-8e9ij0f1 *, .ffb-id-8e9ij0f1 *:before, .ffb-id-8e9ij0f1 *:after, .ffb-id-8e9ij0f1 *:hover, .ffb-id-8e9ij0f1 *:focus {
	font-size: 16px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9ij0f1 {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9ij0f1, .ffb-id-8e9ij0f1:before, .ffb-id-8e9ij0f1:after, .ffb-id-8e9ij0f1:hover, .ffb-id-8e9ij0f1:focus, .ffb-id-8e9ij0f1 *, .ffb-id-8e9ij0f1 *:before, .ffb-id-8e9ij0f1 *:after, .ffb-id-8e9ij0f1 *:hover, .ffb-id-8e9ij0f1 *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iiub9 .ffb-id-8e9iivgh {
	margin-bottom: 102px;
}
.ffb-id-8e9iivk3 {
	margin-bottom: 0px;
}
.ffb-id-8e9iivk3, .ffb-id-8e9iivk3:before, .ffb-id-8e9iivk3:after, .ffb-id-8e9iivk3 *, .ffb-id-8e9iivk3 *:before, .ffb-id-8e9iivk3 *:after {
	color: #7e8494 !important;
}
.ffb-id-8e9iivk3 {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
.ffb-id-8e9iivk3, .ffb-id-8e9iivk3:before, .ffb-id-8e9iivk3:after, .ffb-id-8e9iivk3:hover, .ffb-id-8e9iivk3:focus, .ffb-id-8e9iivk3 *, .ffb-id-8e9iivk3 *:before, .ffb-id-8e9iivk3 *:after, .ffb-id-8e9iivk3 *:hover, .ffb-id-8e9iivk3 *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9iivk3 {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9iivk3, .ffb-id-8e9iivk3:before, .ffb-id-8e9iivk3:after, .ffb-id-8e9iivk3:hover, .ffb-id-8e9iivk3:focus, .ffb-id-8e9iivk3 *, .ffb-id-8e9iivk3 *:before, .ffb-id-8e9iivk3 *:after, .ffb-id-8e9iivk3 *:hover, .ffb-id-8e9iivk3 *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8e9iivjs {
	margin-bottom: 0px;
}
.ffb-id-8e9iivjs, .ffb-id-8e9iivjs:before, .ffb-id-8e9iivjs:after, .ffb-id-8e9iivjs *, .ffb-id-8e9iivjs *:before, .ffb-id-8e9iivjs *:after {
	color: #7e8494 !important;
}
.ffb-id-8e9iivjs {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
.ffb-id-8e9iivjs, .ffb-id-8e9iivjs:before, .ffb-id-8e9iivjs:after, .ffb-id-8e9iivjs:hover, .ffb-id-8e9iivjs:focus, .ffb-id-8e9iivjs *, .ffb-id-8e9iivjs *:before, .ffb-id-8e9iivjs *:after, .ffb-id-8e9iivjs *:hover, .ffb-id-8e9iivjs *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9iivjs {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9iivjs, .ffb-id-8e9iivjs:before, .ffb-id-8e9iivjs:after, .ffb-id-8e9iivjs:hover, .ffb-id-8e9iivjs:focus, .ffb-id-8e9iivjs *, .ffb-id-8e9iivjs *:before, .ffb-id-8e9iivjs *:after, .ffb-id-8e9iivjs *:hover, .ffb-id-8e9iivjs *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8e9iivjl {
	margin-bottom: 0px;
}
.ffb-id-8e9iivjl, .ffb-id-8e9iivjl:before, .ffb-id-8e9iivjl:after, .ffb-id-8e9iivjl *, .ffb-id-8e9iivjl *:before, .ffb-id-8e9iivjl *:after {
	color: #7e8494 !important;
}
.ffb-id-8e9iivjl {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
.ffb-id-8e9iivjl, .ffb-id-8e9iivjl:before, .ffb-id-8e9iivjl:after, .ffb-id-8e9iivjl:hover, .ffb-id-8e9iivjl:focus, .ffb-id-8e9iivjl *, .ffb-id-8e9iivjl *:before, .ffb-id-8e9iivjl *:after, .ffb-id-8e9iivjl *:hover, .ffb-id-8e9iivjl *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9iivjl {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9iivjl, .ffb-id-8e9iivjl:before, .ffb-id-8e9iivjl:after, .ffb-id-8e9iivjl:hover, .ffb-id-8e9iivjl:focus, .ffb-id-8e9iivjl *, .ffb-id-8e9iivjl *:before, .ffb-id-8e9iivjl *:after, .ffb-id-8e9iivjl *:hover, .ffb-id-8e9iivjl *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8e9iivje {
	margin-bottom: 0px;
}
.ffb-id-8e9iivje, .ffb-id-8e9iivje:before, .ffb-id-8e9iivje:after, .ffb-id-8e9iivje *, .ffb-id-8e9iivje *:before, .ffb-id-8e9iivje *:after {
	color: #7e8494 !important;
}
.ffb-id-8e9iivje {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
.ffb-id-8e9iivje, .ffb-id-8e9iivje:before, .ffb-id-8e9iivje:after, .ffb-id-8e9iivje:hover, .ffb-id-8e9iivje:focus, .ffb-id-8e9iivje *, .ffb-id-8e9iivje *:before, .ffb-id-8e9iivje *:after, .ffb-id-8e9iivje *:hover, .ffb-id-8e9iivje *:focus {
	font-size: 12px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9iivje {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9iivje, .ffb-id-8e9iivje:before, .ffb-id-8e9iivje:after, .ffb-id-8e9iivje:hover, .ffb-id-8e9iivje:focus, .ffb-id-8e9iivje *, .ffb-id-8e9iivje *:before, .ffb-id-8e9iivje *:after, .ffb-id-8e9iivje *:hover, .ffb-id-8e9iivje *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8e9iiub5 {
	margin-bottom: 16px;
}
@media (min-width:768px) {
	.ffb-id-8e9iiub5 {
		margin-bottom: 24px;
	}
}
@media (min-width:1200px) {
	.ffb-id-8e9iiub5 {
		padding-right: 18.5%;
		padding-left: 18.5%;
	}
}
.ffb-id-8e9iiub4 {
	margin-bottom: 4px;
}
@media (min-width:768px) {
	.ffb-id-8e9iiub4 {
		margin-bottom: 12px;
	}
}
.ffb-id-8e9iiub4 {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9iiub4, .ffb-id-8e9iiub4:before, .ffb-id-8e9iiub4:after, .ffb-id-8e9iiub4:hover, .ffb-id-8e9iiub4:focus, .ffb-id-8e9iiub4 *, .ffb-id-8e9iiub4 *:before, .ffb-id-8e9iiub4 *:after, .ffb-id-8e9iiub4 *:hover, .ffb-id-8e9iiub4 *:focus {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9iikq2 {
	padding-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8e9iikq2 {
		padding-bottom: 16px;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iinar {
	margin-top: 24px;
}
.ffb-id-8e9iihuc .ffb-id-8e9iimms {
	padding-right: 50px;
	padding-bottom: 16px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iimms {
		padding-right: 0px;
		padding-bottom: 30px;
	}
}
.ffb-id-8e9iimmr {
	margin-bottom: 16px;
}
@media (min-width:768px) {
	.ffb-id-8e9iimmr {
		margin-bottom: 48px;
	}
}
.ffb-id-8e9iimmr {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9iimmr, .ffb-id-8e9iimmr:before, .ffb-id-8e9iimmr:after, .ffb-id-8e9iimmr:hover, .ffb-id-8e9iimmr:focus, .ffb-id-8e9iimmr *, .ffb-id-8e9iimmr *:before, .ffb-id-8e9iimmr *:after, .ffb-id-8e9iimmr *:hover, .ffb-id-8e9iimmr *:focus {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9iimmq {
	margin-bottom: 4px;
}
@media (min-width:768px) {
	.ffb-id-8e9iimmq {
		margin-bottom: 8px;
	}
}
.ffb-id-8e9iik8b {
	padding-top: 24px;
	padding-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8e9iik8b {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}
.ffb-id-8e9iikpl {
	margin-top: 16px;
}
@media (min-width:768px) {
	.ffb-id-8e9iikpl {
		margin-top: 40px;
	}
}
@media (min-width:1200px) {
	.ffb-id-8e9iikpl {
		padding-right: 106px;
		padding-left: 106px;
	}
}
.ffb-id-8e9iikq1 {
	margin-bottom: 0px;
}
.ffb-id-8e9iikq1 {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8e9iikq1, .ffb-id-8e9iikq1:before, .ffb-id-8e9iikq1:after, .ffb-id-8e9iikq1:hover, .ffb-id-8e9iikq1:focus, .ffb-id-8e9iikq1 *, .ffb-id-8e9iikq1 *:before, .ffb-id-8e9iikq1 *:after, .ffb-id-8e9iikq1 *:hover, .ffb-id-8e9iikq1 *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8e9iikpu {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8e9iikpu, .ffb-id-8e9iikpu:before, .ffb-id-8e9iikpu:after, .ffb-id-8e9iikpu:hover, .ffb-id-8e9iikpu:focus, .ffb-id-8e9iikpu *, .ffb-id-8e9iikpu *:before, .ffb-id-8e9iikpu *:after, .ffb-id-8e9iikpu *:hover, .ffb-id-8e9iikpu *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8e9iikpu {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9iikpu, .ffb-id-8e9iikpu:before, .ffb-id-8e9iikpu:after, .ffb-id-8e9iikpu:hover, .ffb-id-8e9iikpu:focus, .ffb-id-8e9iikpu *, .ffb-id-8e9iikpu *:before, .ffb-id-8e9iikpu *:after, .ffb-id-8e9iikpu *:hover, .ffb-id-8e9iikpu *:focus {
		font-size: 20px !important;
		letter-spacing: -0.5px !important;
	}
}
.ffb-id-8e9iihuc .ffb-id-8e9iikln .ffb-id-8e9iiknt {
	padding-right: 50px;
	padding-left: 50px;
}
@media (min-width:768px) {
	.ffb-id-8e9iihuc .ffb-id-8e9iikln .ffb-id-8e9iiknt {
		padding-right: 0px;
		padding-left: 0px;
	}
}
.ffb-id-8e9iiklm {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8e9iiklm {
		margin-bottom: 40px;
	}
}
@media (min-width:1200px) {
	.ffb-id-8e9iiklm {
		padding-right: 15%;
		padding-left: 15%;
	}
}
.ffb-id-8e9iiklm {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9iiklm, .ffb-id-8e9iiklm:before, .ffb-id-8e9iiklm:after, .ffb-id-8e9iiklm:hover, .ffb-id-8e9iiklm:focus, .ffb-id-8e9iiklm *, .ffb-id-8e9iiklm *:before, .ffb-id-8e9iiklm *:after, .ffb-id-8e9iiklm *:hover, .ffb-id-8e9iiklm *:focus {
	letter-spacing: -0.5px !important;
}
.ffb-id-8e9iijvi {
	display: flex;
	align-items: center;
}
.ffb-id-8e9iik87 {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 176px;
	padding: 0 15px;
}
@media (max-width:767px) {
	.ffb-id-8e9iik87 {
		height: 60px;
		width: 110px;
		padding: 0 10px;
	}
}
.ffb-id-8e9iik81 {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 176px;
	padding: 0 15px;
}
@media (max-width:767px) {
	.ffb-id-8e9iik81 {
		height: 60px;
		width: 110px;
		padding: 0 10px;
	}
}
.ffb-id-8e9iik7u {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 176px;
	padding: 0 15px;
}
@media (max-width:767px) {
	.ffb-id-8e9iik7u {
		height: 60px;
		width: 110px;
		padding: 0 10px;
	}
}
.ffb-id-8e9iik7r {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 176px;
	padding: 0 15px;
}
@media (max-width:767px) {
	.ffb-id-8e9iik7r {
		height: 60px;
		width: 110px;
		padding: 0 10px;
	}
}
.ffb-id-92j2vils {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 176px;
	padding: 0 15px;
}
@media (max-width:767px) {
	.ffb-id-92j2vils {
		height: 60px;
		width: 110px;
		padding: 0 10px;
	}
}
.ffb-id-8e9iik7l {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 176px;
	padding: 0 15px;
}
@media (max-width:767px) {
	.ffb-id-8e9iik7l {
		height: 60px;
		width: 110px;
		padding: 0 10px;
	}
}
.ffb-id-8e9iik7i {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 176px;
	padding: 0 15px;
}
@media (max-width:767px) {
	.ffb-id-8e9iik7i {
		height: 60px;
		width: 110px;
		padding: 0 10px;
	}
}
.ffb-id-8e9iik7c {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 176px;
	padding: 0 15px;
}
@media (max-width:767px) {
	.ffb-id-8e9iik7c {
		height: 60px;
		width: 110px;
		padding: 0 10px;
	}
}
.ffb-id-8e9iik79 {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 176px;
	padding: 0 15px;
}
@media (max-width:767px) {
	.ffb-id-8e9iik79 {
		height: 60px;
		width: 110px;
		padding: 0 10px;
	}
}
.ffb-id-8e9iik41 {
	margin-bottom: 0px;
	padding-right: 10px;
}
@media (min-width:768px) {
	.ffb-id-8e9iik41 {
		padding-right: 16px;
	}
}
.ffb-id-8e9iik41 {
	border-right: 1px solid #bdc0ce !important;
}
.ffb-id-8e9iik41 {
	text-transform: uppercase !important;
}
.ffb-id-8e9iik41:before, .ffb-id-8e9iik41:after, .ffb-id-8e9iik41:hover, .ffb-id-8e9iik41:focus, .ffb-id-8e9iik41 *, .ffb-id-8e9iik41 *:before, .ffb-id-8e9iik41 *:after, .ffb-id-8e9iik41 *:hover, .ffb-id-8e9iik41 *:focus {
	text-transform: uppercase !important;
}
.ffb-id-8e9iik41 {
	font-size: 14px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
.ffb-id-8e9iik41, .ffb-id-8e9iik41:before, .ffb-id-8e9iik41:after, .ffb-id-8e9iik41:hover, .ffb-id-8e9iik41:focus, .ffb-id-8e9iik41 *, .ffb-id-8e9iik41 *:before, .ffb-id-8e9iik41 *:after, .ffb-id-8e9iik41 *:hover, .ffb-id-8e9iik41 *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9iik41 {
		font-size: 18px !important;
		letter-spacing: 2px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9iik41, .ffb-id-8e9iik41:before, .ffb-id-8e9iik41:after, .ffb-id-8e9iik41:hover, .ffb-id-8e9iik41:focus, .ffb-id-8e9iik41 *, .ffb-id-8e9iik41 *:before, .ffb-id-8e9iik41 *:after, .ffb-id-8e9iik41 *:hover, .ffb-id-8e9iik41 *:focus {
		font-size: 18px !important;
		letter-spacing: 2px !important;
	}
}
.ffb-id-8e9iihud {
	padding-top: 180px;
	padding-bottom: 114px;
    background: url(../images/img03.jpg)no-repeat center center/cover;
}
@media (min-width:768px) {
	.ffb-id-8e9iihud {
		padding-top: 210px;
		padding-bottom: 116px;
	}
}
.ffb-id-8e9iii1n {
	display: inline-flex;
	gap: 24px;
}
@media (max-width:767px) {
	.ffb-id-8e9iii1n {
		flex-direction: column;
		gap: 16px;
		width: 100%;
	}
}
.ffb-id-8e9iii1m {
	margin-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8e9iii1m {
		margin-bottom: 48px;
	}
}
@media (min-width:1200px) {
	.ffb-id-8e9iii1m {
		padding-right: 35.5%;
	}
}
.ffb-id-8e9iii1m {
	font-size: 20px !important;
	line-height: 140% !important;
	letter-spacing: -0.5px !important;
	font-weight: 300 !important;
}
.ffb-id-8e9iii1m, .ffb-id-8e9iii1m:before, .ffb-id-8e9iii1m:after, .ffb-id-8e9iii1m:hover, .ffb-id-8e9iii1m:focus, .ffb-id-8e9iii1m *, .ffb-id-8e9iii1m *:before, .ffb-id-8e9iii1m *:after, .ffb-id-8e9iii1m *:hover, .ffb-id-8e9iii1m *:focus {
	font-size: 20px !important;
	line-height: 140% !important;
	letter-spacing: -0.5px !important;
	font-weight: 300 !important;
}
@media (min-width:768px) {
	.ffb-id-8e9iii1m {
		font-size: 32px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8e9iii1m, .ffb-id-8e9iii1m:before, .ffb-id-8e9iii1m:after, .ffb-id-8e9iii1m:hover, .ffb-id-8e9iii1m:focus, .ffb-id-8e9iii1m *, .ffb-id-8e9iii1m *:before, .ffb-id-8e9iii1m *:after, .ffb-id-8e9iii1m *:hover, .ffb-id-8e9iii1m *:focus {
		font-size: 32px !important;
	}
}
.ffb-id-8e9ihb7k {
	margin-bottom: 0px;
}