.ffb-id-8k84635f {
	padding-top: 32px;
	padding-bottom: 20px;
}
@media (min-width:768px) {
	.ffb-id-8k84635f {
		padding-top: 64px;
		padding-bottom: 52px;
	}
}
.ffb-id-8k846375 .ffb-accordion-1 .panel-heading {
	margin-bottom: 0px;
}
.ffb-id-8k846375 .ffb-accordion-2 .panel-heading {
	margin-bottom: 0px;
}
.ffb-id-8k846375 .ffb-accordion-3 .panel-heading {
	margin-bottom: 0px;
}
.ffb-id-8k846375 .ffb-accordion-4 .panel-heading {
	margin-bottom: 0px;
}
.ffb-id-8k846375 {
	line-height: 140% !important;
}
.ffb-id-8k846375, .ffb-id-8k846375:before, .ffb-id-8k846375:after, .ffb-id-8k846375:hover, .ffb-id-8k846375:focus, .ffb-id-8k846375 *, .ffb-id-8k846375 *:before, .ffb-id-8k846375 *:after, .ffb-id-8k846375 *:hover, .ffb-id-8k846375 *:focus {
	line-height: 140% !important;
}
.ffb-id-8k846372 {
	margin-bottom: 24px;
}
.ffb-id-8k846372 {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8k846372, .ffb-id-8k846372:before, .ffb-id-8k846372:after, .ffb-id-8k846372:hover, .ffb-id-8k846372:focus, .ffb-id-8k846372 *, .ffb-id-8k846372 *:before, .ffb-id-8k846372 *:after, .ffb-id-8k846372 *:hover, .ffb-id-8k846372 *:focus {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8k84633k {
	padding-top: 32px;
	padding-bottom: 40px;
}
@media (min-width:768px) {
	.ffb-id-8k84633k {
		padding-top: 48px;
		padding-bottom: 64px;
	}
}
.ffb-id-8k844pee .ffb-id-8k846359 {
	margin-top: 24px;
}
.ffb-id-8k844pee .ffb-id-8k846351 {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k846351 {
		margin-bottom: 32px;
	}
}
@media (max-width:767px) {
	.ffb-id-8k846351 {
		flex-direction: column;
	}
}
.ffb-id-8k846351 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ffb-id-8k846355 {
	margin-bottom: 0px;
}
.ffb-id-8k846355, .ffb-id-8k846355:before, .ffb-id-8k846355:after, .ffb-id-8k846355 *, .ffb-id-8k846355 *:before, .ffb-id-8k846355 *:after {
	color: #036ae5 !important;
}
.ffb-id-8k846355 {
	font-size: 14px !important;
	font-weight: 600 !important;
}
.ffb-id-8k846355, .ffb-id-8k846355:before, .ffb-id-8k846355:after, .ffb-id-8k846355:hover, .ffb-id-8k846355:focus, .ffb-id-8k846355 *, .ffb-id-8k846355 *:before, .ffb-id-8k846355 *:after, .ffb-id-8k846355 *:hover, .ffb-id-8k846355 *:focus {
	font-size: 14px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k846355 {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k846355, .ffb-id-8k846355:before, .ffb-id-8k846355:after, .ffb-id-8k846355:hover, .ffb-id-8k846355:focus, .ffb-id-8k846355 *, .ffb-id-8k846355 *:before, .ffb-id-8k846355 *:after, .ffb-id-8k846355 *:hover, .ffb-id-8k846355 *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8k846355 {
	display: inline-flex;
	align-items: center;
	gap: 16px;
	white-space: nowrap;
}
@media (max-width:767px) {
	.ffb-id-8k846355 {
		gap: 8px;
	}
}
.ffb-id-8k846354 {
	margin-bottom: 12px;
	padding-right: 0px;
}
@media (min-width:768px) {
	.ffb-id-8k846354 {
		margin-bottom: 0px;
		padding-right: 30px;
	}
}
.ffb-id-8k846354 {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8k846354, .ffb-id-8k846354:before, .ffb-id-8k846354:after, .ffb-id-8k846354:hover, .ffb-id-8k846354:focus, .ffb-id-8k846354 *, .ffb-id-8k846354 *:before, .ffb-id-8k846354 *:after, .ffb-id-8k846354 *:hover, .ffb-id-8k846354 *:focus {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8p0sf1ck {
	padding-top: 40px;
	padding-bottom: 40px;
}
@media (min-width:768px) {
	.ffb-id-8p0sf1ck {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}
.ffb-id-8k844pee .ffb-id-8p0sf2rg {
	margin-top: 24px;
}
.ffb-id-8k844pee .ffb-id-8p0sf24j {
	padding-bottom: 30px;
}
.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2pj {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2pj {
		padding-top: 32px;
		padding-right: 40px;
		padding-bottom: 32px;
		padding-left: 40px;
	}
}
.ffb-id-8p0sf2re {
	margin-bottom: 0px;
}
.ffb-id-8p0sf2re, .ffb-id-8p0sf2re:before, .ffb-id-8p0sf2re:after, .ffb-id-8p0sf2re *, .ffb-id-8p0sf2re *:before, .ffb-id-8p0sf2re *:after {
	color: #7e8494 !important;
}
.ffb-id-8p0sf2re {
	font-size: 12px !important;
}
.ffb-id-8p0sf2re, .ffb-id-8p0sf2re:before, .ffb-id-8p0sf2re:after, .ffb-id-8p0sf2re:hover, .ffb-id-8p0sf2re:focus, .ffb-id-8p0sf2re *, .ffb-id-8p0sf2re *:before, .ffb-id-8p0sf2re *:after, .ffb-id-8p0sf2re *:hover, .ffb-id-8p0sf2re *:focus {
	font-size: 12px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2re {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2re, .ffb-id-8p0sf2re:before, .ffb-id-8p0sf2re:after, .ffb-id-8p0sf2re:hover, .ffb-id-8p0sf2re:focus, .ffb-id-8p0sf2re *, .ffb-id-8p0sf2re *:before, .ffb-id-8p0sf2re *:after, .ffb-id-8p0sf2re *:hover, .ffb-id-8p0sf2re *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8p0sf2rd {
	margin-bottom: 4px;
}
.ffb-id-8p0sf2rd, .ffb-id-8p0sf2rd:before, .ffb-id-8p0sf2rd:after, .ffb-id-8p0sf2rd *, .ffb-id-8p0sf2rd *:before, .ffb-id-8p0sf2rd *:after {
	color: #34343c !important;
}
.ffb-id-8p0sf2rd {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
.ffb-id-8p0sf2rd, .ffb-id-8p0sf2rd:before, .ffb-id-8p0sf2rd:after, .ffb-id-8p0sf2rd:hover, .ffb-id-8p0sf2rd:focus, .ffb-id-8p0sf2rd *, .ffb-id-8p0sf2rd *:before, .ffb-id-8p0sf2rd *:after, .ffb-id-8p0sf2rd *:hover, .ffb-id-8p0sf2rd *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2rd {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2rd, .ffb-id-8p0sf2rd:before, .ffb-id-8p0sf2rd:after, .ffb-id-8p0sf2rd:hover, .ffb-id-8p0sf2rd:focus, .ffb-id-8p0sf2rd *, .ffb-id-8p0sf2rd *:before, .ffb-id-8p0sf2rd *:after, .ffb-id-8p0sf2rd *:hover, .ffb-id-8p0sf2rd *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8p0sf2qi {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2qi {
		margin-bottom: 48px;
	}
}
.ffb-id-8p0sf2qi {
	font-size: 14px !important;
}
.ffb-id-8p0sf2qi, .ffb-id-8p0sf2qi:before, .ffb-id-8p0sf2qi:after, .ffb-id-8p0sf2qi:hover, .ffb-id-8p0sf2qi:focus, .ffb-id-8p0sf2qi *, .ffb-id-8p0sf2qi *:before, .ffb-id-8p0sf2qi *:after, .ffb-id-8p0sf2qi *:hover, .ffb-id-8p0sf2qi *:focus {
	font-size: 14px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2qi {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2qi, .ffb-id-8p0sf2qi:before, .ffb-id-8p0sf2qi:after, .ffb-id-8p0sf2qi:hover, .ffb-id-8p0sf2qi:focus, .ffb-id-8p0sf2qi *, .ffb-id-8p0sf2qi *:before, .ffb-id-8p0sf2qi *:after, .ffb-id-8p0sf2qi *:hover, .ffb-id-8p0sf2qi *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2nm {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2nm {
		padding-top: 32px;
		padding-right: 40px;
		padding-bottom: 32px;
		padding-left: 40px;
	}
}
.ffb-id-8p0sf2ph {
	margin-bottom: 0px;
}
.ffb-id-8p0sf2ph, .ffb-id-8p0sf2ph:before, .ffb-id-8p0sf2ph:after, .ffb-id-8p0sf2ph *, .ffb-id-8p0sf2ph *:before, .ffb-id-8p0sf2ph *:after {
	color: #7e8494 !important;
}
.ffb-id-8p0sf2ph {
	font-size: 12px !important;
}
.ffb-id-8p0sf2ph, .ffb-id-8p0sf2ph:before, .ffb-id-8p0sf2ph:after, .ffb-id-8p0sf2ph:hover, .ffb-id-8p0sf2ph:focus, .ffb-id-8p0sf2ph *, .ffb-id-8p0sf2ph *:before, .ffb-id-8p0sf2ph *:after, .ffb-id-8p0sf2ph *:hover, .ffb-id-8p0sf2ph *:focus {
	font-size: 12px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2ph {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2ph, .ffb-id-8p0sf2ph:before, .ffb-id-8p0sf2ph:after, .ffb-id-8p0sf2ph:hover, .ffb-id-8p0sf2ph:focus, .ffb-id-8p0sf2ph *, .ffb-id-8p0sf2ph *:before, .ffb-id-8p0sf2ph *:after, .ffb-id-8p0sf2ph *:hover, .ffb-id-8p0sf2ph *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8p0sf2pg {
	margin-bottom: 4px;
}
.ffb-id-8p0sf2pg, .ffb-id-8p0sf2pg:before, .ffb-id-8p0sf2pg:after, .ffb-id-8p0sf2pg *, .ffb-id-8p0sf2pg *:before, .ffb-id-8p0sf2pg *:after {
	color: #34343c !important;
}
.ffb-id-8p0sf2pg {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
.ffb-id-8p0sf2pg, .ffb-id-8p0sf2pg:before, .ffb-id-8p0sf2pg:after, .ffb-id-8p0sf2pg:hover, .ffb-id-8p0sf2pg:focus, .ffb-id-8p0sf2pg *, .ffb-id-8p0sf2pg *:before, .ffb-id-8p0sf2pg *:after, .ffb-id-8p0sf2pg *:hover, .ffb-id-8p0sf2pg *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2pg {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2pg, .ffb-id-8p0sf2pg:before, .ffb-id-8p0sf2pg:after, .ffb-id-8p0sf2pg:hover, .ffb-id-8p0sf2pg:focus, .ffb-id-8p0sf2pg *, .ffb-id-8p0sf2pg *:before, .ffb-id-8p0sf2pg *:after, .ffb-id-8p0sf2pg *:hover, .ffb-id-8p0sf2pg *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8p0sf2ol {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2ol {
		margin-bottom: 48px;
	}
}
.ffb-id-8p0sf2ol {
	font-size: 14px !important;
}
.ffb-id-8p0sf2ol, .ffb-id-8p0sf2ol:before, .ffb-id-8p0sf2ol:after, .ffb-id-8p0sf2ol:hover, .ffb-id-8p0sf2ol:focus, .ffb-id-8p0sf2ol *, .ffb-id-8p0sf2ol *:before, .ffb-id-8p0sf2ol *:after, .ffb-id-8p0sf2ol *:hover, .ffb-id-8p0sf2ol *:focus {
	font-size: 14px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2ol {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2ol, .ffb-id-8p0sf2ol:before, .ffb-id-8p0sf2ol:after, .ffb-id-8p0sf2ol:hover, .ffb-id-8p0sf2ol:focus, .ffb-id-8p0sf2ol *, .ffb-id-8p0sf2ol *:before, .ffb-id-8p0sf2ol *:after, .ffb-id-8p0sf2ol *:hover, .ffb-id-8p0sf2ol *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2lp {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2lp {
		padding-top: 32px;
		padding-right: 40px;
		padding-bottom: 32px;
		padding-left: 40px;
	}
}
.ffb-id-8p0sf2nk {
	margin-bottom: 0px;
}
.ffb-id-8p0sf2nk, .ffb-id-8p0sf2nk:before, .ffb-id-8p0sf2nk:after, .ffb-id-8p0sf2nk *, .ffb-id-8p0sf2nk *:before, .ffb-id-8p0sf2nk *:after {
	color: #7e8494 !important;
}
.ffb-id-8p0sf2nk {
	font-size: 12px !important;
}
.ffb-id-8p0sf2nk, .ffb-id-8p0sf2nk:before, .ffb-id-8p0sf2nk:after, .ffb-id-8p0sf2nk:hover, .ffb-id-8p0sf2nk:focus, .ffb-id-8p0sf2nk *, .ffb-id-8p0sf2nk *:before, .ffb-id-8p0sf2nk *:after, .ffb-id-8p0sf2nk *:hover, .ffb-id-8p0sf2nk *:focus {
	font-size: 12px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2nk {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2nk, .ffb-id-8p0sf2nk:before, .ffb-id-8p0sf2nk:after, .ffb-id-8p0sf2nk:hover, .ffb-id-8p0sf2nk:focus, .ffb-id-8p0sf2nk *, .ffb-id-8p0sf2nk *:before, .ffb-id-8p0sf2nk *:after, .ffb-id-8p0sf2nk *:hover, .ffb-id-8p0sf2nk *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8p0sf2nj {
	margin-bottom: 4px;
}
.ffb-id-8p0sf2nj, .ffb-id-8p0sf2nj:before, .ffb-id-8p0sf2nj:after, .ffb-id-8p0sf2nj *, .ffb-id-8p0sf2nj *:before, .ffb-id-8p0sf2nj *:after {
	color: #34343c !important;
}
.ffb-id-8p0sf2nj {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
.ffb-id-8p0sf2nj, .ffb-id-8p0sf2nj:before, .ffb-id-8p0sf2nj:after, .ffb-id-8p0sf2nj:hover, .ffb-id-8p0sf2nj:focus, .ffb-id-8p0sf2nj *, .ffb-id-8p0sf2nj *:before, .ffb-id-8p0sf2nj *:after, .ffb-id-8p0sf2nj *:hover, .ffb-id-8p0sf2nj *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2nj {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2nj, .ffb-id-8p0sf2nj:before, .ffb-id-8p0sf2nj:after, .ffb-id-8p0sf2nj:hover, .ffb-id-8p0sf2nj:focus, .ffb-id-8p0sf2nj *, .ffb-id-8p0sf2nj *:before, .ffb-id-8p0sf2nj *:after, .ffb-id-8p0sf2nj *:hover, .ffb-id-8p0sf2nj *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8p0sf2mo {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2mo {
		margin-bottom: 48px;
	}
}
.ffb-id-8p0sf2mo {
	font-size: 14px !important;
}
.ffb-id-8p0sf2mo, .ffb-id-8p0sf2mo:before, .ffb-id-8p0sf2mo:after, .ffb-id-8p0sf2mo:hover, .ffb-id-8p0sf2mo:focus, .ffb-id-8p0sf2mo *, .ffb-id-8p0sf2mo *:before, .ffb-id-8p0sf2mo *:after, .ffb-id-8p0sf2mo *:hover, .ffb-id-8p0sf2mo *:focus {
	font-size: 14px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2mo {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2mo, .ffb-id-8p0sf2mo:before, .ffb-id-8p0sf2mo:after, .ffb-id-8p0sf2mo:hover, .ffb-id-8p0sf2mo:focus, .ffb-id-8p0sf2mo *, .ffb-id-8p0sf2mo *:before, .ffb-id-8p0sf2mo *:after, .ffb-id-8p0sf2mo *:hover, .ffb-id-8p0sf2mo *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2js {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2js {
		padding-top: 32px;
		padding-right: 40px;
		padding-bottom: 32px;
		padding-left: 40px;
	}
}
.ffb-id-8p0sf2ln {
	margin-bottom: 0px;
}
.ffb-id-8p0sf2ln, .ffb-id-8p0sf2ln:before, .ffb-id-8p0sf2ln:after, .ffb-id-8p0sf2ln *, .ffb-id-8p0sf2ln *:before, .ffb-id-8p0sf2ln *:after {
	color: #7e8494 !important;
}
.ffb-id-8p0sf2ln {
	font-size: 12px !important;
}
.ffb-id-8p0sf2ln, .ffb-id-8p0sf2ln:before, .ffb-id-8p0sf2ln:after, .ffb-id-8p0sf2ln:hover, .ffb-id-8p0sf2ln:focus, .ffb-id-8p0sf2ln *, .ffb-id-8p0sf2ln *:before, .ffb-id-8p0sf2ln *:after, .ffb-id-8p0sf2ln *:hover, .ffb-id-8p0sf2ln *:focus {
	font-size: 12px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2ln {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2ln, .ffb-id-8p0sf2ln:before, .ffb-id-8p0sf2ln:after, .ffb-id-8p0sf2ln:hover, .ffb-id-8p0sf2ln:focus, .ffb-id-8p0sf2ln *, .ffb-id-8p0sf2ln *:before, .ffb-id-8p0sf2ln *:after, .ffb-id-8p0sf2ln *:hover, .ffb-id-8p0sf2ln *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8p0sf2lm {
	margin-bottom: 4px;
}
.ffb-id-8p0sf2lm, .ffb-id-8p0sf2lm:before, .ffb-id-8p0sf2lm:after, .ffb-id-8p0sf2lm *, .ffb-id-8p0sf2lm *:before, .ffb-id-8p0sf2lm *:after {
	color: #34343c !important;
}
.ffb-id-8p0sf2lm {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
.ffb-id-8p0sf2lm, .ffb-id-8p0sf2lm:before, .ffb-id-8p0sf2lm:after, .ffb-id-8p0sf2lm:hover, .ffb-id-8p0sf2lm:focus, .ffb-id-8p0sf2lm *, .ffb-id-8p0sf2lm *:before, .ffb-id-8p0sf2lm *:after, .ffb-id-8p0sf2lm *:hover, .ffb-id-8p0sf2lm *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2lm {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2lm, .ffb-id-8p0sf2lm:before, .ffb-id-8p0sf2lm:after, .ffb-id-8p0sf2lm:hover, .ffb-id-8p0sf2lm:focus, .ffb-id-8p0sf2lm *, .ffb-id-8p0sf2lm *:before, .ffb-id-8p0sf2lm *:after, .ffb-id-8p0sf2lm *:hover, .ffb-id-8p0sf2lm *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8p0sf2kr {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2kr {
		margin-bottom: 48px;
	}
}
.ffb-id-8p0sf2kr {
	font-size: 14px !important;
}
.ffb-id-8p0sf2kr, .ffb-id-8p0sf2kr:before, .ffb-id-8p0sf2kr:after, .ffb-id-8p0sf2kr:hover, .ffb-id-8p0sf2kr:focus, .ffb-id-8p0sf2kr *, .ffb-id-8p0sf2kr *:before, .ffb-id-8p0sf2kr *:after, .ffb-id-8p0sf2kr *:hover, .ffb-id-8p0sf2kr *:focus {
	font-size: 14px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2kr {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2kr, .ffb-id-8p0sf2kr:before, .ffb-id-8p0sf2kr:after, .ffb-id-8p0sf2kr:hover, .ffb-id-8p0sf2kr:focus, .ffb-id-8p0sf2kr *, .ffb-id-8p0sf2kr *:before, .ffb-id-8p0sf2kr *:after, .ffb-id-8p0sf2kr *:hover, .ffb-id-8p0sf2kr *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2hv {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2hv {
		padding-top: 32px;
		padding-right: 40px;
		padding-bottom: 32px;
		padding-left: 40px;
	}
}
.ffb-id-8p0sf2jq {
	margin-bottom: 0px;
}
.ffb-id-8p0sf2jq, .ffb-id-8p0sf2jq:before, .ffb-id-8p0sf2jq:after, .ffb-id-8p0sf2jq *, .ffb-id-8p0sf2jq *:before, .ffb-id-8p0sf2jq *:after {
	color: #7e8494 !important;
}
.ffb-id-8p0sf2jq {
	font-size: 12px !important;
}
.ffb-id-8p0sf2jq, .ffb-id-8p0sf2jq:before, .ffb-id-8p0sf2jq:after, .ffb-id-8p0sf2jq:hover, .ffb-id-8p0sf2jq:focus, .ffb-id-8p0sf2jq *, .ffb-id-8p0sf2jq *:before, .ffb-id-8p0sf2jq *:after, .ffb-id-8p0sf2jq *:hover, .ffb-id-8p0sf2jq *:focus {
	font-size: 12px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2jq {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2jq, .ffb-id-8p0sf2jq:before, .ffb-id-8p0sf2jq:after, .ffb-id-8p0sf2jq:hover, .ffb-id-8p0sf2jq:focus, .ffb-id-8p0sf2jq *, .ffb-id-8p0sf2jq *:before, .ffb-id-8p0sf2jq *:after, .ffb-id-8p0sf2jq *:hover, .ffb-id-8p0sf2jq *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8p0sf2jp {
	margin-bottom: 4px;
}
.ffb-id-8p0sf2jp, .ffb-id-8p0sf2jp:before, .ffb-id-8p0sf2jp:after, .ffb-id-8p0sf2jp *, .ffb-id-8p0sf2jp *:before, .ffb-id-8p0sf2jp *:after {
	color: #34343c !important;
}
.ffb-id-8p0sf2jp {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
.ffb-id-8p0sf2jp, .ffb-id-8p0sf2jp:before, .ffb-id-8p0sf2jp:after, .ffb-id-8p0sf2jp:hover, .ffb-id-8p0sf2jp:focus, .ffb-id-8p0sf2jp *, .ffb-id-8p0sf2jp *:before, .ffb-id-8p0sf2jp *:after, .ffb-id-8p0sf2jp *:hover, .ffb-id-8p0sf2jp *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2jp {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2jp, .ffb-id-8p0sf2jp:before, .ffb-id-8p0sf2jp:after, .ffb-id-8p0sf2jp:hover, .ffb-id-8p0sf2jp:focus, .ffb-id-8p0sf2jp *, .ffb-id-8p0sf2jp *:before, .ffb-id-8p0sf2jp *:after, .ffb-id-8p0sf2jp *:hover, .ffb-id-8p0sf2jp *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8p0sf2iu {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2iu {
		margin-bottom: 48px;
	}
}
.ffb-id-8p0sf2iu {
	font-size: 14px !important;
}
.ffb-id-8p0sf2iu, .ffb-id-8p0sf2iu:before, .ffb-id-8p0sf2iu:after, .ffb-id-8p0sf2iu:hover, .ffb-id-8p0sf2iu:focus, .ffb-id-8p0sf2iu *, .ffb-id-8p0sf2iu *:before, .ffb-id-8p0sf2iu *:after, .ffb-id-8p0sf2iu *:hover, .ffb-id-8p0sf2iu *:focus {
	font-size: 14px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2iu {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2iu, .ffb-id-8p0sf2iu:before, .ffb-id-8p0sf2iu:after, .ffb-id-8p0sf2iu:hover, .ffb-id-8p0sf2iu:focus, .ffb-id-8p0sf2iu *, .ffb-id-8p0sf2iu *:before, .ffb-id-8p0sf2iu *:after, .ffb-id-8p0sf2iu *:hover, .ffb-id-8p0sf2iu *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2g2 {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8p0sf24j .ffb-id-8p0sf2g2 {
		padding-top: 32px;
		padding-right: 40px;
		padding-bottom: 32px;
		padding-left: 40px;
	}
}
.ffb-id-8p0sf2ht {
	margin-bottom: 0px;
}
.ffb-id-8p0sf2ht, .ffb-id-8p0sf2ht:before, .ffb-id-8p0sf2ht:after, .ffb-id-8p0sf2ht *, .ffb-id-8p0sf2ht *:before, .ffb-id-8p0sf2ht *:after {
	color: #7e8494 !important;
}
.ffb-id-8p0sf2ht {
	font-size: 12px !important;
}
.ffb-id-8p0sf2ht, .ffb-id-8p0sf2ht:before, .ffb-id-8p0sf2ht:after, .ffb-id-8p0sf2ht:hover, .ffb-id-8p0sf2ht:focus, .ffb-id-8p0sf2ht *, .ffb-id-8p0sf2ht *:before, .ffb-id-8p0sf2ht *:after, .ffb-id-8p0sf2ht *:hover, .ffb-id-8p0sf2ht *:focus {
	font-size: 12px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2ht {
		font-size: 14px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2ht, .ffb-id-8p0sf2ht:before, .ffb-id-8p0sf2ht:after, .ffb-id-8p0sf2ht:hover, .ffb-id-8p0sf2ht:focus, .ffb-id-8p0sf2ht *, .ffb-id-8p0sf2ht *:before, .ffb-id-8p0sf2ht *:after, .ffb-id-8p0sf2ht *:hover, .ffb-id-8p0sf2ht *:focus {
		font-size: 14px !important;
	}
}
.ffb-id-8p0sf2hs {
	margin-bottom: 4px;
}
.ffb-id-8p0sf2hs, .ffb-id-8p0sf2hs:before, .ffb-id-8p0sf2hs:after, .ffb-id-8p0sf2hs *, .ffb-id-8p0sf2hs *:before, .ffb-id-8p0sf2hs *:after {
	color: #34343c !important;
}
.ffb-id-8p0sf2hs {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
.ffb-id-8p0sf2hs, .ffb-id-8p0sf2hs:before, .ffb-id-8p0sf2hs:after, .ffb-id-8p0sf2hs:hover, .ffb-id-8p0sf2hs:focus, .ffb-id-8p0sf2hs *, .ffb-id-8p0sf2hs *:before, .ffb-id-8p0sf2hs *:after, .ffb-id-8p0sf2hs *:hover, .ffb-id-8p0sf2hs *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 700 !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2hs {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2hs, .ffb-id-8p0sf2hs:before, .ffb-id-8p0sf2hs:after, .ffb-id-8p0sf2hs:hover, .ffb-id-8p0sf2hs:focus, .ffb-id-8p0sf2hs *, .ffb-id-8p0sf2hs *:before, .ffb-id-8p0sf2hs *:after, .ffb-id-8p0sf2hs *:hover, .ffb-id-8p0sf2hs *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8p0sf2h1 {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2h1 {
		margin-bottom: 48px;
	}
}
.ffb-id-8p0sf2h1 {
	font-size: 14px !important;
}
.ffb-id-8p0sf2h1, .ffb-id-8p0sf2h1:before, .ffb-id-8p0sf2h1:after, .ffb-id-8p0sf2h1:hover, .ffb-id-8p0sf2h1:focus, .ffb-id-8p0sf2h1 *, .ffb-id-8p0sf2h1 *:before, .ffb-id-8p0sf2h1 *:after, .ffb-id-8p0sf2h1 *:hover, .ffb-id-8p0sf2h1 *:focus {
	font-size: 14px !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf2h1 {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf2h1, .ffb-id-8p0sf2h1:before, .ffb-id-8p0sf2h1:after, .ffb-id-8p0sf2h1:hover, .ffb-id-8p0sf2h1:focus, .ffb-id-8p0sf2h1 *, .ffb-id-8p0sf2h1 *:before, .ffb-id-8p0sf2h1 *:after, .ffb-id-8p0sf2h1 *:hover, .ffb-id-8p0sf2h1 *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8p0sf246 {
	margin-bottom: 40px;
}
.ffb-id-8p0sf246 {
	display: flex;
	align-items: end;
	justify-content: space-between;
}
.ffb-id-8p0sf24i {
	margin-bottom: 10px;
}
.ffb-id-8p0sf24i, .ffb-id-8p0sf24i:before, .ffb-id-8p0sf24i:after, .ffb-id-8p0sf24i *, .ffb-id-8p0sf24i *:before, .ffb-id-8p0sf24i *:after {
	color: #036ae5 !important;
}
.ffb-id-8p0sf24i {
	font-size: 14px !important;
	font-weight: 600 !important;
}
.ffb-id-8p0sf24i, .ffb-id-8p0sf24i:before, .ffb-id-8p0sf24i:after, .ffb-id-8p0sf24i:hover, .ffb-id-8p0sf24i:focus, .ffb-id-8p0sf24i *, .ffb-id-8p0sf24i *:before, .ffb-id-8p0sf24i *:after, .ffb-id-8p0sf24i *:hover, .ffb-id-8p0sf24i *:focus {
	font-size: 14px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8p0sf24i {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8p0sf24i, .ffb-id-8p0sf24i:before, .ffb-id-8p0sf24i:after, .ffb-id-8p0sf24i:hover, .ffb-id-8p0sf24i:focus, .ffb-id-8p0sf24i *, .ffb-id-8p0sf24i *:before, .ffb-id-8p0sf24i *:after, .ffb-id-8p0sf24i *:hover, .ffb-id-8p0sf24i *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8p0sf24i {
	display: inline-flex;
	align-items: center;
	gap: 16px;
	white-space: nowrap;
}
@media (max-width:767px) {
	.ffb-id-8p0sf24i {
		gap: 8px;
	}
}
.ffb-id-8p0sf24h {
	margin-bottom: 0px;
	padding-right: 30px;
}
.ffb-id-8p0sf24h {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8p0sf24h, .ffb-id-8p0sf24h:before, .ffb-id-8p0sf24h:after, .ffb-id-8p0sf24h:hover, .ffb-id-8p0sf24h:focus, .ffb-id-8p0sf24h *, .ffb-id-8p0sf24h *:before, .ffb-id-8p0sf24h *:after, .ffb-id-8p0sf24h *:hover, .ffb-id-8p0sf24h *:focus {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8k84603e {
	padding-top: 120px;
	padding-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8k84603e {
		padding-top: 120px;
		padding-bottom: 64px;
	}
}
.ffb-id-8k84605g {
	margin-top: 32px;
	margin-bottom: 0px;
}
.ffb-id-8k84605g, .ffb-id-8k84605g:before, .ffb-id-8k84605g:after, .ffb-id-8k84605g *, .ffb-id-8k84605g *:before, .ffb-id-8k84605g *:after {
	color: #036ae5 !important;
}
.ffb-id-8k84605g {
	font-size: 14px !important;
	font-weight: 600 !important;
}
.ffb-id-8k84605g, .ffb-id-8k84605g:before, .ffb-id-8k84605g:after, .ffb-id-8k84605g:hover, .ffb-id-8k84605g:focus, .ffb-id-8k84605g *, .ffb-id-8k84605g *:before, .ffb-id-8k84605g *:after, .ffb-id-8k84605g *:hover, .ffb-id-8k84605g *:focus {
	font-size: 14px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k84605g {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k84605g, .ffb-id-8k84605g:before, .ffb-id-8k84605g:after, .ffb-id-8k84605g:hover, .ffb-id-8k84605g:focus, .ffb-id-8k84605g *, .ffb-id-8k84605g *:before, .ffb-id-8k84605g *:after, .ffb-id-8k84605g *:hover, .ffb-id-8k84605g *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8k84605g {
	display: inline-flex;
	align-items: center;
	gap: 16px;
	white-space: nowrap;
}
@media (max-width:767px) {
	.ffb-id-8k84605g {
		gap: 8px;
	}
}
.ffb-id-8k844pee .ffb-id-8k846058 {
	margin-top: 24px;
}
.ffb-id-8k84605b, .ffb-id-8k84605b:before, .ffb-id-8k84605b:after, .ffb-id-8k84605b *, .ffb-id-8k84605b *:before, .ffb-id-8k84605b *:after {
	color: #ffffff !important;
}
.ffb-id-8k844pee .ffb-id-8k846052 {
	margin-bottom: 24px;
}
.ffb-id-8k846054 {
	margin-bottom: 0px;
}
.ffb-id-8k846054, .ffb-id-8k846054:before, .ffb-id-8k846054:after, .ffb-id-8k846054 *, .ffb-id-8k846054 *:before, .ffb-id-8k846054 *:after {
	color: #036ae5 !important;
}
.ffb-id-8k846054 {
	font-size: 14px !important;
	font-weight: 600 !important;
}
.ffb-id-8k846054, .ffb-id-8k846054:before, .ffb-id-8k846054:after, .ffb-id-8k846054:hover, .ffb-id-8k846054:focus, .ffb-id-8k846054 *, .ffb-id-8k846054 *:before, .ffb-id-8k846054 *:after, .ffb-id-8k846054 *:hover, .ffb-id-8k846054 *:focus {
	font-size: 14px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k846054 {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k846054, .ffb-id-8k846054:before, .ffb-id-8k846054:after, .ffb-id-8k846054:hover, .ffb-id-8k846054:focus, .ffb-id-8k846054 *, .ffb-id-8k846054 *:before, .ffb-id-8k846054 *:after, .ffb-id-8k846054 *:hover, .ffb-id-8k846054 *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8k846054 {
	display: inline-flex;
	align-items: center;
	gap: 16px;
	white-space: nowrap;
}
@media (max-width:767px) {
	.ffb-id-8k846054 {
		gap: 8px;
	}
}
.ffb-id-8k846051 {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8k846051 {
		margin-bottom: 32px;
	}
}
.ffb-id-8k846051, .ffb-id-8k846051:before, .ffb-id-8k846051:after, .ffb-id-8k846051 *, .ffb-id-8k846051 *:before, .ffb-id-8k846051 *:after {
	color: #ffffff !important;
}
.ffb-id-8k846051 {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8k846051, .ffb-id-8k846051:before, .ffb-id-8k846051:after, .ffb-id-8k846051:hover, .ffb-id-8k846051:focus, .ffb-id-8k846051 *, .ffb-id-8k846051 *:before, .ffb-id-8k846051 *:after, .ffb-id-8k846051 *:hover, .ffb-id-8k846051 *:focus {
	line-height: 135% !important;
	letter-spacing: -0.5px !important;
}
.ffb-id-8k84601n {
	margin-top: -80px;
	margin-bottom: -80px;
}
@media (min-width:992px) {
	.ffb-id-8k84601n {
		margin-top: -55px;
		margin-bottom: -55px;
	}
}
.ffb-id-8k84u9an {
	padding-bottom: 132px;
}
.ffb-id-8k84udne {
	margin-bottom: 0px;
}
.ffb-id-8k84udne {
	line-height: 140% !important;
}
.ffb-id-8k84udne, .ffb-id-8k84udne:before, .ffb-id-8k84udne:after, .ffb-id-8k84udne:hover, .ffb-id-8k84udne:focus, .ffb-id-8k84udne *, .ffb-id-8k84udne *:before, .ffb-id-8k84udne *:after, .ffb-id-8k84udne *:hover, .ffb-id-8k84udne *:focus {
	line-height: 140% !important;
}
.ffb-id-8k84udhn {
	margin-bottom: 0px;
}
.ffb-id-8k84udhn {
	line-height: 140% !important;
}
.ffb-id-8k84udhn, .ffb-id-8k84udhn:before, .ffb-id-8k84udhn:after, .ffb-id-8k84udhn:hover, .ffb-id-8k84udhn:focus, .ffb-id-8k84udhn *, .ffb-id-8k84udhn *:before, .ffb-id-8k84udhn *:after, .ffb-id-8k84udhn *:hover, .ffb-id-8k84udhn *:focus {
	line-height: 140% !important;
}
.ffb-id-8k844pee .ffb-id-8k84ubjb {
	margin-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k84ubjb {
		margin-bottom: 48px;
	}
}
@media (min-width:992px) {
	.ffb-id-8k84ubjt {
		display: flex;
	}
}
.ffb-id-8k84ubkb {
	display: flex;
	align-items: end;
}
.ffb-id-8k84ubkd {
	margin-bottom: 0px;
}
.ffb-id-8k84ubk6 {
	margin-bottom: 8px;
}
@media (min-width:992px) {
	.ffb-id-8k84ubk6 {
		margin-bottom: 0px;
	}
}
.ffb-id-8k84ubka {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8k84ubka {
		margin-bottom: 0px;
	}
}
@media (min-width:1200px) {
	.ffb-id-8k84ubka {
		padding-right: 20%;
	}
}
.ffb-id-8k84ubka {
	letter-spacing: -0.5px !important;
}
.ffb-id-8k84ubka, .ffb-id-8k84ubka:before, .ffb-id-8k84ubka:after, .ffb-id-8k84ubka:hover, .ffb-id-8k84ubka:focus, .ffb-id-8k84ubka *, .ffb-id-8k84ubka *:before, .ffb-id-8k84ubka *:after, .ffb-id-8k84ubka *:hover, .ffb-id-8k84ubka *:focus {
	letter-spacing: -0.5px !important;
}
.ffb-id-8k866808 {
	padding-top: 32px;
	padding-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8k866808 {
		padding-top: 64px;
		padding-bottom: 32px;
	}
}
.ffb-id-8k8668qr {
	display: flex;
	flex-wrap: wrap;
}
.ffb-id-8k86692h {
	margin-bottom: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k86692h {
		margin-bottom: 32px;
	}
}
.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k866933 {
	padding-top: 24px;
	padding-right: 16px;
	padding-bottom: 24px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k866933 {
		padding-top: 32px;
		padding-right: 32px;
		padding-bottom: 32px;
		padding-left: 32px;
	}
}
.ffb-id-8k86693i {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8k86693i {
		margin-bottom: 16px;
	}
}
.ffb-id-8k86693i {
	font-size: 18px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
.ffb-id-8k86693i, .ffb-id-8k86693i:before, .ffb-id-8k86693i:after, .ffb-id-8k86693i:hover, .ffb-id-8k86693i:focus, .ffb-id-8k86693i *, .ffb-id-8k86693i *:before, .ffb-id-8k86693i *:after, .ffb-id-8k86693i *:hover, .ffb-id-8k86693i *:focus {
	font-size: 18px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k86693i {
		font-size: 24px !important;
		letter-spacing: -0.5px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k86693i, .ffb-id-8k86693i:before, .ffb-id-8k86693i:after, .ffb-id-8k86693i:hover, .ffb-id-8k86693i:focus, .ffb-id-8k86693i *, .ffb-id-8k86693i *:before, .ffb-id-8k86693i *:after, .ffb-id-8k86693i *:hover, .ffb-id-8k86693i *:focus {
		font-size: 24px !important;
		letter-spacing: -0.5px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k866933 .ffb-id-8k86693c {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k866933 .ffb-id-8k86693c {
		margin-bottom: 16px;
	}
}
.ffb-id-8k86693e {
	width: 64px !important;
}
@media (min-width:768px) {
	.ffb-id-8k86693e {
		width: 96px !important;
	}
}
.ffb-id-8k86691e {
	margin-bottom: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k86691e {
		margin-bottom: 32px;
	}
}
.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k866920 {
	padding-top: 24px;
	padding-right: 16px;
	padding-bottom: 24px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k866920 {
		padding-top: 32px;
		padding-right: 32px;
		padding-bottom: 32px;
		padding-left: 32px;
	}
}
.ffb-id-8k86692f {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8k86692f {
		margin-bottom: 16px;
	}
}
.ffb-id-8k86692f {
	font-size: 18px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
.ffb-id-8k86692f, .ffb-id-8k86692f:before, .ffb-id-8k86692f:after, .ffb-id-8k86692f:hover, .ffb-id-8k86692f:focus, .ffb-id-8k86692f *, .ffb-id-8k86692f *:before, .ffb-id-8k86692f *:after, .ffb-id-8k86692f *:hover, .ffb-id-8k86692f *:focus {
	font-size: 18px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k86692f {
		font-size: 24px !important;
		letter-spacing: -0.5px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k86692f, .ffb-id-8k86692f:before, .ffb-id-8k86692f:after, .ffb-id-8k86692f:hover, .ffb-id-8k86692f:focus, .ffb-id-8k86692f *, .ffb-id-8k86692f *:before, .ffb-id-8k86692f *:after, .ffb-id-8k86692f *:hover, .ffb-id-8k86692f *:focus {
		font-size: 24px !important;
		letter-spacing: -0.5px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k866920 .ffb-id-8k866929 {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k866920 .ffb-id-8k866929 {
		margin-bottom: 16px;
	}
}
.ffb-id-8k86692b {
	width: 64px !important;
}
@media (min-width:768px) {
	.ffb-id-8k86692b {
		width: 96px !important;
	}
}
.ffb-id-8k86690b {
	margin-bottom: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k86690b {
		margin-bottom: 32px;
	}
}
.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k86690t {
	padding-top: 24px;
	padding-right: 16px;
	padding-bottom: 24px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k86690t {
		padding-top: 32px;
		padding-right: 32px;
		padding-bottom: 32px;
		padding-left: 32px;
	}
}
.ffb-id-8k86691c {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8k86691c {
		margin-bottom: 16px;
	}
}
.ffb-id-8k86691c {
	font-size: 18px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
.ffb-id-8k86691c, .ffb-id-8k86691c:before, .ffb-id-8k86691c:after, .ffb-id-8k86691c:hover, .ffb-id-8k86691c:focus, .ffb-id-8k86691c *, .ffb-id-8k86691c *:before, .ffb-id-8k86691c *:after, .ffb-id-8k86691c *:hover, .ffb-id-8k86691c *:focus {
	font-size: 18px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k86691c {
		font-size: 24px !important;
		letter-spacing: -0.5px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k86691c, .ffb-id-8k86691c:before, .ffb-id-8k86691c:after, .ffb-id-8k86691c:hover, .ffb-id-8k86691c:focus, .ffb-id-8k86691c *, .ffb-id-8k86691c *:before, .ffb-id-8k86691c *:after, .ffb-id-8k86691c *:hover, .ffb-id-8k86691c *:focus {
		font-size: 24px !important;
		letter-spacing: -0.5px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k86690t .ffb-id-8k866916 {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k86690t .ffb-id-8k866916 {
		margin-bottom: 16px;
	}
}
.ffb-id-8k866918 {
	width: 64px !important;
}
@media (min-width:768px) {
	.ffb-id-8k866918 {
		width: 96px !important;
	}
}
.ffb-id-8k8668v8 {
	margin-bottom: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k8668v8 {
		margin-bottom: 32px;
	}
}
.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k8668vq {
	padding-top: 24px;
	padding-right: 16px;
	padding-bottom: 24px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k8668vq {
		padding-top: 32px;
		padding-right: 32px;
		padding-bottom: 32px;
		padding-left: 32px;
	}
}
.ffb-id-8k866909 {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8k866909 {
		margin-bottom: 16px;
	}
}
.ffb-id-8k866909 {
	font-size: 18px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
.ffb-id-8k866909, .ffb-id-8k866909:before, .ffb-id-8k866909:after, .ffb-id-8k866909:hover, .ffb-id-8k866909:focus, .ffb-id-8k866909 *, .ffb-id-8k866909 *:before, .ffb-id-8k866909 *:after, .ffb-id-8k866909 *:hover, .ffb-id-8k866909 *:focus {
	font-size: 18px !important;
	line-height: 140% !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k866909 {
		font-size: 24px !important;
		letter-spacing: -0.5px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k866909, .ffb-id-8k866909:before, .ffb-id-8k866909:after, .ffb-id-8k866909:hover, .ffb-id-8k866909:focus, .ffb-id-8k866909 *, .ffb-id-8k866909 *:before, .ffb-id-8k866909 *:after, .ffb-id-8k866909 *:hover, .ffb-id-8k866909 *:focus {
		font-size: 24px !important;
		letter-spacing: -0.5px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k8668vq .ffb-id-8k866903 {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8668i1 .ffb-id-8k8668vq .ffb-id-8k866903 {
		margin-bottom: 16px;
	}
}
.ffb-id-8k866905 {
	width: 64px !important;
}
@media (min-width:768px) {
	.ffb-id-8k866905 {
		width: 96px !important;
	}
}
.ffb-id-8k8668i0 {
	margin-bottom: 24px;
}
@media (min-width:768px) {
	.ffb-id-8k8668i0 {
		margin-bottom: 32px;
	}
}
.ffb-id-8k8668i0 {
	letter-spacing: -0.5px !important;
}
.ffb-id-8k8668i0, .ffb-id-8k8668i0:before, .ffb-id-8k8668i0:after, .ffb-id-8k8668i0:hover, .ffb-id-8k8668i0:focus, .ffb-id-8k8668i0 *, .ffb-id-8k8668i0 *:before, .ffb-id-8k8668i0 *:after, .ffb-id-8k8668i0 *:hover, .ffb-id-8k8668i0 *:focus {
	letter-spacing: -0.5px !important;
}
.ffb-id-8k8e43c3 {
	padding-top: 32px;
	padding-bottom: 32px;
}
@media (min-width:768px) {
	.ffb-id-8k8e43c3 {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}
.ffb-id-8k844pee .ffb-id-8k8e44cu .ffb-id-8k8e5e1r .ffb-id-8k8f75rg {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8k8f75rg {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8k8f75rh {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 100%;
	padding: 0 6px;
}
.ffb-id-8k8f75rj {
	width: auto;
	max-height: 100%;
	object-fit: contain;
}
.ffb-id-8k844pee .ffb-id-8k8e44cu .ffb-id-8k8e5e1r .ffb-id-8k8f74el {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8k8f74el {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8k8f74em {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 100%;
	padding: 0 6px;
}
.ffb-id-8k8f74eo {
	width: auto;
	max-height: 100%;
	object-fit: contain;
}
.ffb-id-8k844pee .ffb-id-8k8e44cu .ffb-id-8k8e5e1r .ffb-id-8k8f732u {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8k8f732u {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8k8f732v {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 100%;
	padding: 0 6px;
}
.ffb-id-8k8f7331 {
	width: auto;
	max-height: 100%;
	object-fit: contain;
}
.ffb-id-8k844pee .ffb-id-8k8e44cu .ffb-id-8k8e5e1r .ffb-id-8k8f71n5 {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8k8f71n5 {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8k8f71n6 {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 100%;
	padding: 0 6px;
}
.ffb-id-8k8f71n8 {
	width: auto;
	max-height: 100%;
	object-fit: contain;
}
.ffb-id-8k844pee .ffb-id-8k8e44cu .ffb-id-8k8e5e1r .ffb-id-8k8e5e1s {
	border-radius: 16px 16px 16px 16px !important;
}
.ffb-id-8k8e5e1s {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
}
.ffb-id-8k8e5e20 {
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	height: 96px;
	width: 100%;
	padding: 0 6px;
}
.ffb-id-8k8e9n8l {
	width: auto;
	max-height: 100%;
	object-fit: contain;
}
.ffb-id-8k8e44ct {
	letter-spacing: -0.5px !important;
}
.ffb-id-8k8e44ct, .ffb-id-8k8e44ct:before, .ffb-id-8k8e44ct:after, .ffb-id-8k8e44ct:hover, .ffb-id-8k8e44ct:focus, .ffb-id-8k8e44ct *, .ffb-id-8k8e44ct *:before, .ffb-id-8k8e44ct *:after, .ffb-id-8k8e44ct *:hover, .ffb-id-8k8e44ct *:focus {
	letter-spacing: -0.5px !important;
}
.ffb-id-8k8e44cs {
	margin-bottom: 4px;
}
@media (min-width:768px) {
	.ffb-id-8k8e44cs {
		margin-bottom: 8px;
	}
}
.ffb-id-8k844pge {
	padding-top: 40px;
	padding-bottom: 40px;
}
@media (min-width:768px) {
	.ffb-id-8k844pge {
		padding-top: 64px;
		padding-bottom: 80px;
	}
}
.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k84j2mr .ffb-id-8k84j2ms {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k84j2mr .ffb-id-8k84j2ms {
		padding-top: 40px;
		padding-right: 64px;
		padding-bottom: 40px;
		padding-left: 64px;
	}
}
.ffb-id-8k84j2nl {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ffb-id-8k84j2nr {
	margin-top: 16px;
}
.ffb-id-8k84j2nr, .ffb-id-8k84j2nr:before, .ffb-id-8k84j2nr:after, .ffb-id-8k84j2nr *, .ffb-id-8k84j2nr *:before, .ffb-id-8k84j2nr *:after {
	color: #101624 !important;
}
.ffb-id-8k84j2nr {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8k84j2nr, .ffb-id-8k84j2nr:before, .ffb-id-8k84j2nr:after, .ffb-id-8k84j2nr:hover, .ffb-id-8k84j2nr:focus, .ffb-id-8k84j2nr *, .ffb-id-8k84j2nr *:before, .ffb-id-8k84j2nr *:after, .ffb-id-8k84j2nr *:hover, .ffb-id-8k84j2nr *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8k84j2nr {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k84j2nr, .ffb-id-8k84j2nr:before, .ffb-id-8k84j2nr:after, .ffb-id-8k84j2nr:hover, .ffb-id-8k84j2nr:focus, .ffb-id-8k84j2nr *, .ffb-id-8k84j2nr *:before, .ffb-id-8k84j2nr *:after, .ffb-id-8k84j2nr *:hover, .ffb-id-8k84j2nr *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8k84j2nq {
	margin-top: 16px;
}
.ffb-id-8k84j2np {
	margin-bottom: 0px;
}
.ffb-id-8k84j2np {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
.ffb-id-8k84j2np, .ffb-id-8k84j2np:before, .ffb-id-8k84j2np:after, .ffb-id-8k84j2np:hover, .ffb-id-8k84j2np:focus, .ffb-id-8k84j2np *, .ffb-id-8k84j2np *:before, .ffb-id-8k84j2np *:after, .ffb-id-8k84j2np *:hover, .ffb-id-8k84j2np *:focus {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k84j2np {
		font-size: 32px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k84j2np, .ffb-id-8k84j2np:before, .ffb-id-8k84j2np:after, .ffb-id-8k84j2np:hover, .ffb-id-8k84j2np:focus, .ffb-id-8k84j2np *, .ffb-id-8k84j2np *:before, .ffb-id-8k84j2np *:after, .ffb-id-8k84j2np *:hover, .ffb-id-8k84j2np *:focus {
		font-size: 32px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k8456nk .ffb-id-8k8456qa {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k8456nk .ffb-id-8k8456qa {
		padding-top: 40px;
		padding-right: 64px;
		padding-bottom: 40px;
		padding-left: 64px;
	}
}
.ffb-id-8k8456sa {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ffb-id-8k8456sg {
	margin-top: 16px;
}
.ffb-id-8k8456sg, .ffb-id-8k8456sg:before, .ffb-id-8k8456sg:after, .ffb-id-8k8456sg *, .ffb-id-8k8456sg *:before, .ffb-id-8k8456sg *:after {
	color: #101624 !important;
}
.ffb-id-8k8456sg {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8k8456sg, .ffb-id-8k8456sg:before, .ffb-id-8k8456sg:after, .ffb-id-8k8456sg:hover, .ffb-id-8k8456sg:focus, .ffb-id-8k8456sg *, .ffb-id-8k8456sg *:before, .ffb-id-8k8456sg *:after, .ffb-id-8k8456sg *:hover, .ffb-id-8k8456sg *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8k8456sg {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k8456sg, .ffb-id-8k8456sg:before, .ffb-id-8k8456sg:after, .ffb-id-8k8456sg:hover, .ffb-id-8k8456sg:focus, .ffb-id-8k8456sg *, .ffb-id-8k8456sg *:before, .ffb-id-8k8456sg *:after, .ffb-id-8k8456sg *:hover, .ffb-id-8k8456sg *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8k8456sf {
	margin-top: 16px;
}
.ffb-id-8k8456se {
	margin-bottom: 0px;
}
.ffb-id-8k8456se {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
.ffb-id-8k8456se, .ffb-id-8k8456se:before, .ffb-id-8k8456se:after, .ffb-id-8k8456se:hover, .ffb-id-8k8456se:focus, .ffb-id-8k8456se *, .ffb-id-8k8456se *:before, .ffb-id-8k8456se *:after, .ffb-id-8k8456se *:hover, .ffb-id-8k8456se *:focus {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k8456se {
		font-size: 32px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k8456se, .ffb-id-8k8456se:before, .ffb-id-8k8456se:after, .ffb-id-8k8456se:hover, .ffb-id-8k8456se:focus, .ffb-id-8k8456se *, .ffb-id-8k8456se *:before, .ffb-id-8k8456se *:after, .ffb-id-8k8456se *:hover, .ffb-id-8k8456se *:focus {
		font-size: 32px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k8456i9 .ffb-id-8k8456kv {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k8456i9 .ffb-id-8k8456kv {
		padding-top: 40px;
		padding-right: 64px;
		padding-bottom: 40px;
		padding-left: 64px;
	}
}
.ffb-id-8k8456mv {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ffb-id-8k8456n5 {
	margin-top: 16px;
}
.ffb-id-8k8456n5, .ffb-id-8k8456n5:before, .ffb-id-8k8456n5:after, .ffb-id-8k8456n5 *, .ffb-id-8k8456n5 *:before, .ffb-id-8k8456n5 *:after {
	color: #101624 !important;
}
.ffb-id-8k8456n5 {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8k8456n5, .ffb-id-8k8456n5:before, .ffb-id-8k8456n5:after, .ffb-id-8k8456n5:hover, .ffb-id-8k8456n5:focus, .ffb-id-8k8456n5 *, .ffb-id-8k8456n5 *:before, .ffb-id-8k8456n5 *:after, .ffb-id-8k8456n5 *:hover, .ffb-id-8k8456n5 *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8k8456n5 {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k8456n5, .ffb-id-8k8456n5:before, .ffb-id-8k8456n5:after, .ffb-id-8k8456n5:hover, .ffb-id-8k8456n5:focus, .ffb-id-8k8456n5 *, .ffb-id-8k8456n5 *:before, .ffb-id-8k8456n5 *:after, .ffb-id-8k8456n5 *:hover, .ffb-id-8k8456n5 *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8k8456n4 {
	margin-top: 16px;
}
.ffb-id-8k8456n3 {
	margin-bottom: 0px;
}
.ffb-id-8k8456n3 {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
.ffb-id-8k8456n3, .ffb-id-8k8456n3:before, .ffb-id-8k8456n3:after, .ffb-id-8k8456n3:hover, .ffb-id-8k8456n3:focus, .ffb-id-8k8456n3 *, .ffb-id-8k8456n3 *:before, .ffb-id-8k8456n3 *:after, .ffb-id-8k8456n3 *:hover, .ffb-id-8k8456n3 *:focus {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k8456n3 {
		font-size: 32px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k8456n3, .ffb-id-8k8456n3:before, .ffb-id-8k8456n3:after, .ffb-id-8k8456n3:hover, .ffb-id-8k8456n3:focus, .ffb-id-8k8456n3 *, .ffb-id-8k8456n3 *:before, .ffb-id-8k8456n3 *:after, .ffb-id-8k8456n3 *:hover, .ffb-id-8k8456n3 *:focus {
		font-size: 32px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k8456cu .ffb-id-8k8456fk {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k8456cu .ffb-id-8k8456fk {
		padding-top: 40px;
		padding-right: 64px;
		padding-bottom: 40px;
		padding-left: 64px;
	}
}
.ffb-id-8k8456hk {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ffb-id-8k8456hq {
	margin-top: 16px;
}
.ffb-id-8k8456hq, .ffb-id-8k8456hq:before, .ffb-id-8k8456hq:after, .ffb-id-8k8456hq *, .ffb-id-8k8456hq *:before, .ffb-id-8k8456hq *:after {
	color: #101624 !important;
}
.ffb-id-8k8456hq {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8k8456hq, .ffb-id-8k8456hq:before, .ffb-id-8k8456hq:after, .ffb-id-8k8456hq:hover, .ffb-id-8k8456hq:focus, .ffb-id-8k8456hq *, .ffb-id-8k8456hq *:before, .ffb-id-8k8456hq *:after, .ffb-id-8k8456hq *:hover, .ffb-id-8k8456hq *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8k8456hq {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k8456hq, .ffb-id-8k8456hq:before, .ffb-id-8k8456hq:after, .ffb-id-8k8456hq:hover, .ffb-id-8k8456hq:focus, .ffb-id-8k8456hq *, .ffb-id-8k8456hq *:before, .ffb-id-8k8456hq *:after, .ffb-id-8k8456hq *:hover, .ffb-id-8k8456hq *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8k8456hp {
	margin-top: 16px;
}
.ffb-id-8k8456ho {
	margin-bottom: 0px;
}
.ffb-id-8k8456ho {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
.ffb-id-8k8456ho, .ffb-id-8k8456ho:before, .ffb-id-8k8456ho:after, .ffb-id-8k8456ho:hover, .ffb-id-8k8456ho:focus, .ffb-id-8k8456ho *, .ffb-id-8k8456ho *:before, .ffb-id-8k8456ho *:after, .ffb-id-8k8456ho *:hover, .ffb-id-8k8456ho *:focus {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k8456ho {
		font-size: 32px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k8456ho, .ffb-id-8k8456ho:before, .ffb-id-8k8456ho:after, .ffb-id-8k8456ho:hover, .ffb-id-8k8456ho:focus, .ffb-id-8k8456ho *, .ffb-id-8k8456ho *:before, .ffb-id-8k8456ho *:after, .ffb-id-8k8456ho *:hover, .ffb-id-8k8456ho *:focus {
		font-size: 32px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k84567j .ffb-id-8k8456a9 {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k84567j .ffb-id-8k8456a9 {
		padding-top: 40px;
		padding-right: 64px;
		padding-bottom: 40px;
		padding-left: 64px;
	}
}
.ffb-id-8k8456c9 {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ffb-id-8k8456cf {
	margin-top: 16px;
}
.ffb-id-8k8456cf, .ffb-id-8k8456cf:before, .ffb-id-8k8456cf:after, .ffb-id-8k8456cf *, .ffb-id-8k8456cf *:before, .ffb-id-8k8456cf *:after {
	color: #101624 !important;
}
.ffb-id-8k8456cf {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8k8456cf, .ffb-id-8k8456cf:before, .ffb-id-8k8456cf:after, .ffb-id-8k8456cf:hover, .ffb-id-8k8456cf:focus, .ffb-id-8k8456cf *, .ffb-id-8k8456cf *:before, .ffb-id-8k8456cf *:after, .ffb-id-8k8456cf *:hover, .ffb-id-8k8456cf *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8k8456cf {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k8456cf, .ffb-id-8k8456cf:before, .ffb-id-8k8456cf:after, .ffb-id-8k8456cf:hover, .ffb-id-8k8456cf:focus, .ffb-id-8k8456cf *, .ffb-id-8k8456cf *:before, .ffb-id-8k8456cf *:after, .ffb-id-8k8456cf *:hover, .ffb-id-8k8456cf *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8k8456ce {
	margin-top: 16px;
}
.ffb-id-8k8456cd {
	margin-bottom: 0px;
}
.ffb-id-8k8456cd {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
.ffb-id-8k8456cd, .ffb-id-8k8456cd:before, .ffb-id-8k8456cd:after, .ffb-id-8k8456cd:hover, .ffb-id-8k8456cd:focus, .ffb-id-8k8456cd *, .ffb-id-8k8456cd *:before, .ffb-id-8k8456cd *:after, .ffb-id-8k8456cd *:hover, .ffb-id-8k8456cd *:focus {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k8456cd {
		font-size: 32px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k8456cd, .ffb-id-8k8456cd:before, .ffb-id-8k8456cd:after, .ffb-id-8k8456cd:hover, .ffb-id-8k8456cd:focus, .ffb-id-8k8456cd *, .ffb-id-8k8456cd *:before, .ffb-id-8k8456cd *:after, .ffb-id-8k8456cd *:hover, .ffb-id-8k8456cd *:focus {
		font-size: 32px !important;
	}
}
.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k845628 .ffb-id-8k84564u {
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}
@media (min-width:768px) {
	.ffb-id-8k844pee .ffb-id-8k8453i0 .ffb-id-8k84557g .ffb-id-8k845628 .ffb-id-8k84564u {
		padding-top: 40px;
		padding-right: 64px;
		padding-bottom: 40px;
		padding-left: 64px;
	}
}
.ffb-id-8k84566u {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ffb-id-8k845674 {
	margin-top: 16px;
}
.ffb-id-8k845674, .ffb-id-8k845674:before, .ffb-id-8k845674:after, .ffb-id-8k845674 *, .ffb-id-8k845674 *:before, .ffb-id-8k845674 *:after {
	color: #101624 !important;
}
.ffb-id-8k845674 {
	font-size: 14px !important;
	line-height: 140% !important;
}
.ffb-id-8k845674, .ffb-id-8k845674:before, .ffb-id-8k845674:after, .ffb-id-8k845674:hover, .ffb-id-8k845674:focus, .ffb-id-8k845674 *, .ffb-id-8k845674 *:before, .ffb-id-8k845674 *:after, .ffb-id-8k845674 *:hover, .ffb-id-8k845674 *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
}
@media (min-width:768px) {
	.ffb-id-8k845674 {
		font-size: 16px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k845674, .ffb-id-8k845674:before, .ffb-id-8k845674:after, .ffb-id-8k845674:hover, .ffb-id-8k845674:focus, .ffb-id-8k845674 *, .ffb-id-8k845674 *:before, .ffb-id-8k845674 *:after, .ffb-id-8k845674 *:hover, .ffb-id-8k845674 *:focus {
		font-size: 16px !important;
	}
}
.ffb-id-8k845673 {
	margin-top: 16px;
}
.ffb-id-8k845672 {
	margin-bottom: 0px;
}
.ffb-id-8k845672 {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
.ffb-id-8k845672, .ffb-id-8k845672:before, .ffb-id-8k845672:after, .ffb-id-8k845672:hover, .ffb-id-8k845672:focus, .ffb-id-8k845672 *, .ffb-id-8k845672 *:before, .ffb-id-8k845672 *:after, .ffb-id-8k845672 *:hover, .ffb-id-8k845672 *:focus {
	font-size: 18px !important;
	letter-spacing: -0.5px !important;
	font-weight: 600 !important;
}
@media (min-width:768px) {
	.ffb-id-8k845672 {
		font-size: 32px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k845672, .ffb-id-8k845672:before, .ffb-id-8k845672:after, .ffb-id-8k845672:hover, .ffb-id-8k845672:focus, .ffb-id-8k845672 *, .ffb-id-8k845672 *:before, .ffb-id-8k845672 *:after, .ffb-id-8k845672 *:hover, .ffb-id-8k845672 *:focus {
		font-size: 32px !important;
	}
}
@media (min-width:1200px) {
	.ffb-id-8k8453hv {
		padding-right: 22%;
		padding-left: 22%;
	}
}
.ffb-id-8k8453hu {
	margin-bottom: 8px;
}
@media (min-width:768px) {
	.ffb-id-8k8453hu {
		margin-bottom: 12px;
	}
}
.ffb-id-8k8453hu {
	letter-spacing: -0.5px !important;
}
.ffb-id-8k8453hu, .ffb-id-8k8453hu:before, .ffb-id-8k8453hu:after, .ffb-id-8k8453hu:hover, .ffb-id-8k8453hu:focus, .ffb-id-8k8453hu *, .ffb-id-8k8453hu *:before, .ffb-id-8k8453hu *:after, .ffb-id-8k8453hu *:hover, .ffb-id-8k8453hu *:focus {
	letter-spacing: -0.5px !important;
}
.ffb-id-8k8453ht {
	margin-bottom: 0px;
}
@media (min-width:768px) {
	.ffb-id-8k8453ht {
		margin-bottom: 8px;
	}
}
.ffb-id-8k844pef {
	padding-top: 105px;
	padding-bottom: 105px;
}
@media (min-width:992px) {
	.ffb-id-8k844pef {
		padding-top: 125px;
		padding-bottom: 125px;
	}
}
.ffb-id-8k844pg9 {
	display: inline-flex;
	gap: 24px;
}
@media (max-width:767px) {
	.ffb-id-8k844pg9 {
		flex-direction: column;
		gap: 16px;
		width: 100%;
	}
}
.ffb-id-8k844pg8 {
	margin-bottom: 32px;
}
@media (min-width:1200px) {
	.ffb-id-8k844pg8 {
		padding-right: 42%;
	}
}
.ffb-id-8k844pg8, .ffb-id-8k844pg8:before, .ffb-id-8k844pg8:after, .ffb-id-8k844pg8 *, .ffb-id-8k844pg8 *:before, .ffb-id-8k844pg8 *:after {
	color: #ffffff !important;
}
.ffb-id-8k844pg8 {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
.ffb-id-8k844pg8, .ffb-id-8k844pg8:before, .ffb-id-8k844pg8:after, .ffb-id-8k844pg8:hover, .ffb-id-8k844pg8:focus, .ffb-id-8k844pg8 *, .ffb-id-8k844pg8 *:before, .ffb-id-8k844pg8 *:after, .ffb-id-8k844pg8 *:hover, .ffb-id-8k844pg8 *:focus {
	font-size: 14px !important;
	line-height: 140% !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8k844pg8 {
		font-size: 18px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k844pg8, .ffb-id-8k844pg8:before, .ffb-id-8k844pg8:after, .ffb-id-8k844pg8:hover, .ffb-id-8k844pg8:focus, .ffb-id-8k844pg8 *, .ffb-id-8k844pg8 *:before, .ffb-id-8k844pg8 *:after, .ffb-id-8k844pg8 *:hover, .ffb-id-8k844pg8 *:focus {
		font-size: 18px !important;
	}
}
.ffb-id-8k844pg7 {
	margin-bottom: 12px;
}
.ffb-id-8k844pg7, .ffb-id-8k844pg7:before, .ffb-id-8k844pg7:after, .ffb-id-8k844pg7 *, .ffb-id-8k844pg7 *:before, .ffb-id-8k844pg7 *:after {
	color: #ffffff !important;
}
.ffb-id-8k844pg7 {
	font-size: 32px !important;
	line-height: 140% !important;
	letter-spacing: -0.5px !important;
	font-weight: 400 !important;
}
.ffb-id-8k844pg7, .ffb-id-8k844pg7:before, .ffb-id-8k844pg7:after, .ffb-id-8k844pg7:hover, .ffb-id-8k844pg7:focus, .ffb-id-8k844pg7 *, .ffb-id-8k844pg7 *:before, .ffb-id-8k844pg7 *:after, .ffb-id-8k844pg7 *:hover, .ffb-id-8k844pg7 *:focus {
	font-size: 32px !important;
	line-height: 140% !important;
	letter-spacing: -0.5px !important;
	font-weight: 400 !important;
}
@media (min-width:768px) {
	.ffb-id-8k844pg7 {
		font-size: 48px !important;
		line-height: 135% !important;
		letter-spacing: -1px !important;
	}
}
@media (min-width:768px) {
	.ffb-id-8k844pg7, .ffb-id-8k844pg7:before, .ffb-id-8k844pg7:after, .ffb-id-8k844pg7:hover, .ffb-id-8k844pg7:focus, .ffb-id-8k844pg7 *, .ffb-id-8k844pg7 *:before, .ffb-id-8k844pg7 *:after, .ffb-id-8k844pg7 *:hover, .ffb-id-8k844pg7 *:focus {
		font-size: 48px !important;
		line-height: 135% !important;
		letter-spacing: -1px !important;
	}
}